openapi: 3.2.0
info:
  version: 2.6.1
  title: Moneris Subscriptions API
  description: 'Moneris API Platform



    [<img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height:32px;">](https://god.gw.postman.com/run-collection/25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8?action=collection%2Ffork&collection-url=entityId%3D25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)'
  termsOfService: https://www.moneris.com/en/legal/terms-of-use
  contact:
    url: https://api-developer.moneris.com
    email: UnifiedAPI@moneris.com
  license:
    name: Moneris
    url: https://developer.moneris.com/Agreements/Terms%20of%20Use
  x-audience: external-public
servers:
- url: https://api.sb.moneris.io
  description: Sandbox server (uses test data)
  x-internal: false
- url: https://api.moneris.io
  description: Production server (uses live data)
  x-internal: false
tags:
- name: Subscriptions
  description: Perform and Manage Subscriptions
paths:
  /subscriptions:
    parameters:
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/merchantId'
    post:
      summary: Create Subscription
      description: "<p>This operation is used to create a Subscription.</p>\n<h4>\n  <span>Webhooks</span>\n</h4>\n<details>\n  <summary style=\"color: rgba(0, 113, 145, 1);\">Webhook Definition Details</summary>\n  <div class=\"collapsible\">\n    <div class=\"tabs\">\n      <div class=\"tab-label\" style=\"background-color: #051D33; color: #FFFFFF;\">application/json</div>\n      <div class=\"tab-content\" style=\"display: block;\">\n        <type-definition>\n          <h4 class=\"text-truncate flex-grow\">Webhook Request Body</h4>\n          <p>\n          <p>This is the base definition for all event messages. It contains the common properties that are shared across all events.</p>\n          </p>\n          <div role=\"table\" class=\"table-preset table-preset-schema\" id=\"webhookRequestTable\">\n            <div class=\"d-contents\" role=\"rowgroup\">\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"columnheader\" class=\"table-preset-head text-truncate\">\n                  <span>\n                    Name</span>\n                </div>\n                <div role=\"columnheader\" class=\"table-preset-head text-truncate\">\n                  <span>\n                    Required</span>\n                </div>\n                <div role=\"columnheader\" class=\"table-preset-head text-truncate\">\n                  <span>Additional\n                    Info</span>\n                </div>\n                <div role=\"columnheader\" class=\"table-preset-head\">\n                  <span>\n                    Description</span>\n                </div>\n              </div>\n            </div>\n            <div class=\"d-contents\" role=\"rowgroup\">\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"eventId\">\n                  eventId</div>\n                <div role=\"cell\">\n                  true</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\" title=\"string\">\n                    string</a>\n                </div>\n                <div role=\"cell\">\n                  <p>Identifier of the triggered\n                    event. Can be used\n                    as an idempotency key to\n                    detect duplicates.</p>\n                </div>\n              </div>\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"eventType\">\n                  eventType</div>\n                <div role=\"cell\">\n                  true</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\" title=\"string\">\n                    string</a>\n                </div>\n                <div role=\"cell\">\n                  <p>This is a\n                    list of all the types of\n                    events we currently\n                    send.</p>\n                  <ul>\n                    <li>RECURRING_PAYMENT_CONFIRMED: A payment transaction has been executed.</li>\n                  </ul>\n                </div>\n              </div>\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"occuredAt\">\n                  occuredAt</div>\n                <div role=\"cell\">\n                  true</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\" title=\"string\">\n                    date-time</a>\n                </div>\n                <div role=\"cell\">\n                  <p>the timestamp of when the event occurred (not\n                    necessarily the same of when it was\n                    delivered)</p>\n                </div>\n              </div>\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"apiVersion\">\n                  apiVersion</div>\n                <div role=\"cell\">\n                  false</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\" title=\"string\">\n                    string</a>\n                </div>\n                <div role=\"cell\">\n                  <p>The Moneris API Version used to\n                    populate the event\n                    payload.</p>\n                </div>\n              </div>\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"objectId\">\n                  objectId</div>\n                <div role=\"cell\">\n                  false</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\" title=\"string\">\n                    string</a>\n                </div>\n                <div role=\"cell\">\n                  <p>Used to\n                    identify API resources which\n                    may be required for\n                    future follow-on\n                    transactions; i.e. Refunds,\n                    Corrections,\n                    Completions, Reversals,\n                    etc.</p>\n                </div>\n              </div>\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"href\">\n                  href</div>\n                <div role=\"cell\">\n                  false</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\" title=\"string\">\n                    string</a>\n                </div>\n                <div role=\"cell\">\n                  <p>Uniform\n                    resource locator to retrieve\n                    resource\n                    details.</p>\n                </div>\n              </div>\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"correlationId\">\n                  correlationId</div>\n                <div role=\"cell\">\n                  false</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\" title=\"string\">\n                    string</a>\n                </div>\n                <div role=\"cell\">\n                  <p>Correlation Id transmitted during the\n                    original request.\n                    This is useful to correlate between\n                    multiple events corresponding to same\n                    flow. </p>\n                </div>\n              </div>\n              <div class=\"d-contents\" role=\"row\">\n                <div role=\"cell\" class=\"text-truncate\" title=\"data\">\n                  data</div>\n                <div role=\"cell\">\n                  false</div>\n                <div role=\"cell\" class=\"text-truncate\">\n                  <a class=\"text-monospace\"\n                    href=\"/api-details#api=moneris-api-2025-02-20-preview&operation=createPayments\" title=\"payment\">\n                    payment</a>\n                </div>\n                <div role=\"cell\">\n                  <p>The Payment data associated with the\n                    event.</p>\n                </div>\n              </div>\n            </div>\n          </div>\n          <code-snippet id=\"webhookRequestDefinition\" style=\"display: none;\">\n            <h4></h4>\n            <div></div>\n            <div class=\"flex code-snippet code-snippet-bordered\">\n              <div class=\"code-snippet-heading\">\n                <span class=\"code-snippet-title\">json</span>\n                <button class=\"code-snippet-command\" aria-label=\"Copy to clipboard\">\n                  <i class=\"icon-emb icon-emb-duplicate\"></i>\n                  <span>Copy</span>\n                </button>\n              </div>\n            </div>\n            <pre>\n<span class=\"token punctuation\">{</span>\n  <span class=\"token property\">\"title\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"webhookRequest\"</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"required\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">[</span>\n    <span class=\"token string\">\"eventId\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token string\">\"eventType\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token string\">\"occuredAt\"</span><span class=\"token punctuation\">,</span>\n  <span class=\"token punctuation\">]</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"object\"</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"properties\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n  <span class=\"token property\">\"eventId\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"string\"</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"Unique Identifier for the Event.\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"pattern\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"^[A-Za-z]{2}\\d{2}[A-Za-z0-9]{26}$\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"minLength\"</span><span class=\"token operator\">:</span> <span class=\"token string\">30</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"maxLength\"</span><span class=\"token operator\">:</span> <span class=\"token string\">30</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"example\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"ev0105ARZ3NDEKTSV4RRFFQ69G5FAV\"</span>\n  <span class=\"token punctuation\">}</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"eventType\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"string\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"This is a list of all the types of events we currently send. RECURRING_PAYMENT_CONFIRMED\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"enum\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">[</span>\n        <span class=\"token string\">\"RECURRING_PAYMENT_CONFIRMED\"</span>\n    <span class=\"token punctuation\">]</span>\n    <span class=\"token property\">\"example\"</span><span class=\"token operator\">:</span> <span class=\"token string\">RECURRING_PAYMENT_CONFIRMED</span>\n  <span class=\"token punctuation\">}</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"occuredAt\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"string\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"Date & Time at which the event has occurred.\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"format\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"date-time\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"example\"</span><span class=\"token operator\">:</span> <span class=\"token string\">2025-02-17T18:00:00Z</span>\n  <span class=\"token punctuation\">}</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"apiVersion\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"string\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"The Moneris API Version used to populate the event payload.\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"nullable\"</span><span class=\"token operator\">:</span> <span class=\"token string\">true</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"example\"</span><span class=\"token operator\">:</span> <span class=\"token string\">2024-09-17</span>\n  <span class=\"token punctuation\">}</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"objectId\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"string\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"Used to identify API resources which may be required for future follow-on transactions; i.e. Refunds, Corrections, Completions, Reversals, etc.\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"nullable\"</span><span class=\"token operator\">:</span> <span class=\"token string\">true</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"example\"</span><span class=\"token operator\">:</span> <span class=\"token string\">pi0105ARZ3NDEKTSV4RRFFQ69G5FAV</span>\n  <span class=\"token punctuation\">}</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"href\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"string\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"Uniform resource locator to retrieve resource details\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"format\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"uri-reference\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"nullable\"</span><span class=\"token operator\">:</span> <span class=\"token string\">true</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"example\"</span><span class=\"token operator\">:</span> <span class=\"token string\">/payments/pi0105ARZ3NDEKTSV4RRFFQ69G5FAV</span>\n  <span class=\"token punctuation\">}</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"correlationId\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"string\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"Correlation Id transmitted during the original request.\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"nullable\"</span><span class=\"token operator\">:</span> <span class=\"token string\">true</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"example\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"f0d4c76f-f129-4b91-92a3-9a120829bbe5\"</span><span class=\"token punctuation\">,</span>\n  <span class=\"token punctuation\">}</span><span class=\"token punctuation\">,</span>\n  <span class=\"token property\">\"data\"</span><span class=\"token operator\">:</span> <span class=\"token punctuation\">{</span>\n    <span class=\"token property\">\"type\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"object\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"description\"</span><span class=\"token operator\">:</span> <span class=\"token string\">\"Full representation of the resource that triggered the event. For Payments, it will be the Payment object\"</span><span class=\"token punctuation\">,</span>\n    <span class=\"token property\">\"nullable\"</span><span class=\"token operator\">:</span> <span class=\"token string\">true</span>\n  <span class=\"token punctuation\">}</span>\n<span class=\"token punctuation\">}</span>\n</pre>\n          </code-snippet>\n        </type-definition>\n      </div>\n    </div>\n    <h3><span>Response</span> <span\n       >200 OK</span></h3>\n    <p>\n    <p>Webhook event processed successfully</p>\n    </p>\n    <h3><span>Response</span> <span\n       >400 Bad Request</span></h3>\n    <p>\n    <p>An error has occured while processing webhook event</p>\n    </p>\n  </div>\n</details>"
      operationId: createSubscriptions
      security:
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSubscriptionRequest'
            examples:
              subscriptionRequestWithImmediateInitialAmount:
                $ref: '#/components/examples/subscriptionRequestWithImmediateInitialAmount'
              dailyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/dailyPaymentRequestToStartAtbillingStartDate'
              weeklyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/weeklyPaymentRequestToStartAtbillingStartDate'
              biweeklyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/biweeklyPaymentRequestToStartAtbillingStartDate'
              monthlyPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/monthlyPaymentRequestToStartAtbillingStartDate'
              endOfMonthPaymentRequestToStartAtbillingStartDate:
                $ref: '#/components/examples/endOfMonthPaymentRequestToStartAtbillingStartDate'
      responses:
        '201':
          $ref: '#/components/responses/createSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    get:
      summary: List subscriptions
      description: Returns a paginated list of subscriptions.
      operationId: getSubscriptions
      security:
      - OAuth2:
        - payment.read
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/pageBeforeCursor'
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/createdFrom'
      - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          $ref: '#/components/responses/listSubscriptionsResponse'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}:
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/subscriptionId'
    get:
      summary: Retrieve Subscription
      description: Retrieve a Subscription details by Id
      operationId: getSubscription
      security:
      - OAuth2:
        - payment.read
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      responses:
        '200':
          $ref: '#/components/responses/retrieveSubscriptionSuccessResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    patch:
      summary: Update Subscription
      description: 'Update Subscription

        '
      operationId: updateSubscription
      security:
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/updateSubscriptionDetails'
      responses:
        '200':
          $ref: '#/components/responses/updateSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/cancel:
    parameters:
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/subscriptionId'
    - $ref: '#/components/parameters/merchantId'
    post:
      summary: Cancel Subscription
      description: Cancel a Subscription.
      operationId: cancelSubscription
      security:
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/cancelSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/extend:
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Extend Subscription
      description: "Adds the given number of subscription transactions to the current (remaining) number.\n\nThis can be used if a customer decides to extend a membership/subscription. \nHowever, because this must be a positive number, it cannot be used to decrease the current number of subscription transactions. \nFor that, use Update Subscription.\n"
      operationId: extendSubscription
      security:
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extendSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/extendSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/pause:
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Pause Subscription
      description: "Temporarily pauses subscription billing.\nWhile a transaction is on hold, it is not billed for the subscription amount.                 \nHowever, the number of remaining recurs continues to be decremented during that time.\n"
      operationId: pauseSubscription
      security:
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pauseSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/pauseSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /subscriptions/{subscription-id}/resume:
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/subscriptionId'
    post:
      summary: Resume Subscription
      description: "Resumes a subscription billing.\nWhile a transaction is on hold, it is not billed for the subscription amount.                 \nHowever, the number of remaining recurs continues to be decremented during that time.\n"
      operationId: resumeSubscription
      security:
      - OAuth2:
        - payment.write
      - ApiKeyAuth: []
      tags:
      - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resumeSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/resumeSubscriptionSuccessResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
components:
  schemas:
    expiryYear:
      type: integer
      format: int32
      description: 'Displays the card expiration year. Accepted format: YYYY'
      minimum: 2022
      maximum: 9999
      example: 2023
    paymentMethodCard:
      title: paymentMethodCard
      description: Credit/Debit/Gift Card payment method details.
      allOf:
      - type: object
        properties:
          card:
            $ref: '#/components/schemas/card'
        required:
        - card
      - $ref: '#/components/schemas/paymentMethodRequestBase'
      required:
      - paymentMethodSource
      - card
    cardholderName:
      type: string
      description: Cardholder name
      minLength: 1
      maxLength: 60
      example: John Doe
    paymentMethodPermanentToken:
      title: paymentMethodPermanentToken
      description: 'A Permanent Token is issued by Moneris to the merchant and represents the card details. This option is used for legacy purposes.

        '
      allOf:
      - type: object
        properties:
          permanentToken:
            $ref: '#/components/schemas/token'
        required:
        - permanentToken
      - $ref: '#/components/schemas/paymentMethodRequestBase'
      required:
      - paymentMethodSource
      - permanentToken
    companyName:
      type:
      - string
      - 'null'
      description: Identifies the associated company name
      minLength: 1
      maxLength: 50
      example: SP Ltd
    threeDSecureAuthenticationValue:
      type:
      - string
      - 'null'
      description: '**CAVV**: Cardholder Authentication Verification Value

        Provided during a payment request to authenticate the card user.

        '
      maxLength: 50
      example: 00000109260000719349
    cardSecurityCode:
      type: string
      pattern: '[0-9]*'
      description: CVD value located on credit card. The CVD value (supplied by the cardholder) must only be passed to the payment gateway. Under no circumstances may it be stored for subsequent use or displayed as part of the receipt information.
      minLength: 3
      maxLength: 4
      example: '123'
    subscriptionPaymentMethodCardRequest:
      title: subscriptionPaymentMethodCardRequest
      allOf:
      - $ref: '#/components/schemas/paymentMethodCard'
      - type: object
        properties:
          credentialOnFileInformation:
            type:
            - object
            - 'null'
            description: 'Contains fields related to the Credential on File (CoF) '
            properties:
              paymentIndicator:
                $ref: '#/components/schemas/paymentIndicator'
              paymentInformation:
                $ref: '#/components/schemas/paymentInformation'
              issuerId:
                $ref: '#/components/schemas/issuerId'
              originalAmount:
                $ref: '#/components/schemas/originalAmount'
            required:
            - paymentIndicator
            - paymentInformation
            example:
              paymentIndicator: CUSTOMER_INITIATED
              paymentInformation: FIRST
              issuerId: 123asd
    billingInformation:
      type: object
      description: Subscriptions allows you to set up payments whereby Moneris automatically processes the transactions and bills customers on your behalf based on the billing cycle information you provide.
      properties:
        billingIntervalUnit:
          $ref: '#/components/schemas/billingIntervalUnit'
        billingIntervalFrequency:
          $ref: '#/components/schemas/billingIntervalFrequency'
        billingIntervalCount:
          $ref: '#/components/schemas/subscriptionIntervalCount'
        billingAmount:
          description: The amount of the subscription transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
          type: object
          properties:
            amount:
              $ref: '#/components/schemas/amount'
            currency:
              $ref: '#/components/schemas/currency'
          required:
          - amount
          - currency
          example:
            amount: 16000
            currency: CAD
        billingStartDate:
          description: Date of the first future subscription billing transaction. This value must be a date in the future.
          type: string
          format: date
          example: '2019-07-30'
        nextBillingDate:
          description: Date on which the next payment will occur
          type:
          - string
          - 'null'
          format: date
          example: '2019-07-30'
        billingEndDate:
          description: Date on which the subscription will end.
          type:
          - string
          - 'null'
          format: date
          example: '2019-07-30'
      required:
      - billingIntervalUnit
      - billingIntervalFrequency
      - billingIntervalCount
      - billingStartDate
      - billingAmount
      example:
        billingIntervalUnit: WEEK
        billingIntervalFrequency: 2
        billingIntervalCount: 2
        billingAmount:
          amount: 2500
          currency: CAD
        billingStartDate: '2025-02-01'
        nextBillingDate: '2025-02-14'
        billingEndDate: '2025-02-28'
    threeDSecureWithAuthenticationId:
      title: Three DS Authentication Id
      type: object
      properties:
        threeDSecureAuthenticationId:
          $ref: '#/components/schemas/resourceId'
      required:
      - threeDSecureAuthenticationId
    cardBrand:
      type:
      - string
      - 'null'
      description: Displays the card brand name associated with the card type.
      enum:
      - MASTERCARD
      - VISA
      - AMERICAN_EXPRESS
      - JCB
      - DISCOVER
      - INTERAC
      - UNIONPAY
      - GIFT_MONERIS
      - GIFT_DATACANDY
      - GIFT_GIVEX
      - null
      example: MASTERCARD
    subscriptionStatus:
      type: string
      description: Subscription Status description.
      enum:
      - DECLINED
      - DECLINED_RETRY
      - PAUSED
      - ACTIVE
      - CANCELED
      - COMPLETED
      example: ACTIVE
    pauseSubscriptionRequest:
      title: pauseSubscriptionRequest
      type: object
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/idempotencyKey'
        customData:
          $ref: '#/components/schemas/customData'
      required:
      - idempotencyKey
    paymentMethod:
      title: paymentMethod
      description: Payment method response object
      type: object
      properties:
        paymentMethodId:
          $ref: '#/components/schemas/paymentMethodId'
        merchantId:
          $ref: '#/components/schemas/merchantId'
        cardholderInformation:
          $ref: '#/components/schemas/cardholderInformation'
        contactDetails:
          $ref: '#/components/schemas/contactDetails'
        billingAddress:
          type:
          - object
          - 'null'
          description: 'The postal address including street, town/city, province, and postal code.

            Optionally an unit number can be provided.

            '
          properties:
            unitNumber:
              type:
              - string
              - 'null'
              description: Unit number
              minLength: 1
              maxLength: 19
              example: 123A
            streetNumber:
              type:
              - string
              - 'null'
              description: Street number
              minLength: 1
              maxLength: 19
              example: '3300'
            streetName:
              type:
              - string
              - 'null'
              description: Street name
              minLength: 1
              maxLength: 100
              example: Bloor
            city:
              type:
              - string
              - 'null'
              description: 'Identifies the city.

                '
              minLength: 1
              maxLength: 50
              example: Toronto
            province:
              type:
              - string
              - 'null'
              description: 'Province or state ISO 3166-2 code '
              minLength: 1
              maxLength: 3
              format: iso-3166-2
              example: 'ON'
            postalCode:
              type:
              - string
              - 'null'
              description: Postal or zip code
              minLength: 1
              maxLength: 30
              example: M8X 2X2
            country:
              type:
              - string
              - 'null'
              description: "Provides the two letter country code according the ISO 3166-1 alpha-2 standard. \nFor a complete list of country codes, visit: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2.\n"
              minLength: 2
              maxLength: 2
              example: CA
              format: iso-3166
          example:
            unitNumber: 123A
            streetNumber: '3300'
            streetName: Bloor Street West
            city: Toronto
            province: 'ON'
            postalCode: M8X 2X2
            country: CA
        paymentMethodInformation:
          $ref: '#/components/schemas/cardPaymentMethodInformation'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        modifiedAt:
          $ref: '#/components/schemas/modifiedAt'
        customData:
          $ref: '#/components/schemas/customData'
      required:
      - paymentMethodId
      - merchantId
      - paymentMethodInformation
      - createdAt
    callbackUrl:
      type:
      - string
      - 'null'
      minLength: 1
      maxLength: 256
      description: 'URL-encoded, fully qualified callback URL that receives subscription notification.


        Note: Request with URL that is not URL-encoded will be rejected for security reasons.


        Example (URL-encoded): https%3A%2F%2Fmerchant.example.com%2Fcallback%3ForderId%3D123

        '
      example: https%3A%2F%2Fmerchant.example.com%2Fcallback%3ForderId%3D123
    first:
      description: Pagination link pointing to the first page.
      type:
      - string
      - 'null'
      format: uri-reference
    card:
      type: object
      description: Card details
      properties:
        cardNumber:
          $ref: '#/components/schemas/cardNumber'
        expiryMonth:
          $ref: '#/components/schemas/expiryMonth'
        expiryYear:
          $ref: '#/components/schemas/expiryYear'
        cardSecurityCode:
          $ref: '#/components/schemas/cardSecurityCode'
      required:
      - cardNumber
      - expiryMonth
      - expiryYear
      - cardSecurityCode
    paymentId:
      type: string
      description: Unique Identification for the Payment
      pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
      minLength: 30
      maxLength: 30
      example: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
    createSubscriptionRequest:
      title: subscriptionRequest
      type: object
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/idempotencyKey'
        orderId:
          $ref: '#/components/schemas/orderId'
        invoiceNumber:
          $ref: '#/components/schemas/invoiceNumber'
        subscriptionType:
          $ref: '#/components/schemas/subscriptionType'
        billingDetails:
          $ref: '#/components/schemas/billingDetails'
        callbackUrl:
          $ref: '#/components/schemas/callbackUrl'
        oneTimeAmount:
          description: The amount for the first subscription transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
          type:
          - object
          - 'null'
          properties:
            amount:
              $ref: '#/components/schemas/amount'
            currency:
              $ref: '#/components/schemas/currency'
          required:
          - amount
          - currency
          example:
            amount: 16000
            currency: CAD
        paymentMethod:
          $ref: '#/components/schemas/subscriptionPaymentMethodRequest'
        ecommerceIndicator:
          $ref: '#/components/schemas/ecommerceIndicator'
        customerId:
          type:
          - string
          - 'null'
          description: Unique Identification for the Customer
          example: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
          pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
          minLength: 30
          maxLength: 30
        customerReference:
          type:
          - string
          - 'null'
          description: Unique Identification for the Customer. This can be an identifier generated from a merchant-defined identifier.
          example: 911677-212
          minLength: 1
          maxLength: 50
        customData:
          $ref: '#/components/schemas/customData'
        dynamicDescriptor:
          $ref: '#/components/schemas/dynamicDescriptor'
        threeDSecureData:
          $ref: '#/components/schemas/threeDSecureData'
        ipv4:
          $ref: '#/components/schemas/ipv4'
        ipv6:
          $ref: '#/components/schemas/ipv6'
      required:
      - idempotencyKey
      - paymentMethod
      - subscriptionType
      - billingDetails
    billingDetails:
      type: object
      description: Subscriptions allows you to set up payments whereby Moneris automatically processes the transactions and bills customers on your behalf based on the billing cycle information you provide.
      properties:
        billingIntervalUnit:
          $ref: '#/components/schemas/billingIntervalUnit'
        billingIntervalFrequency:
          $ref: '#/components/schemas/billingIntervalFrequency'
        billingIntervalCount:
          $ref: '#/components/schemas/subscriptionIntervalCount'
        billingAmount:
          description: The amount of the subscription transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
          type: object
          properties:
            amount:
              $ref: '#/components/schemas/amount'
            currency:
              $ref: '#/components/schemas/currency'
          required:
          - amount
          - currency
          example:
            amount: 16000
            currency: CAD
        billingStartDate:
          description: Date of the first future subscription billing transaction. This value must be a date in the future.
          type: string
          format: date
          example: '2019-07-30'
      required:
      - billingIntervalUnit
      - billingIntervalFrequency
      - billingIntervalCount
      - billingStartDate
      - billingAmount
    resourceId:
      type: string
      description: Used to identify API resources which may be required for future follow-on transactions; i.e. Refunds, Corrections, Completions, Reversals, etc.
      pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
      minLength: 30
      maxLength: 30
      example: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
    token:
      type: string
      description: Created when a temporary token is created and returned. This acts as a unique profile identifier, and is a required value for temporary token transactions.
      minLength: 25
      maxLength: 28
      example: ot-HCUeCFtXJfEZSSUqvUJkS0
    extendSubscriptionRequest:
      type: object
      description: Adds the given number of subscription transactions to the current (remaining) number. This can be used if a customer decides to extend a membership/subscription. However, because this must be a positive number, it cannot be used to decrease the current number of subscription transactions.
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/idempotencyKey'
        additionalSubscriptionIntervalCount:
          description: Adds the given number of subscription transactions to the current (remaining) number. This can be used if a customer decides to extend a membership/subscription. However, because this must be a positive number, it cannot be used to decrease the current number of subscription transactions.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 12
        customData:
          $ref: '#/components/schemas/customData'
      required:
      - idempotencyKey
      - additionalSubscriptionIntervalCount
    ecommerceIndicator:
      type: string
      description: "The ecommerce indicator (ECI) specifies the level of security that was used to obtain the cardholder's payment data. \nIt is sent by the merchant and returned by the issuer.\nWhen returned in the response, it can be different from the value sent in the request in case transaction was downgraded by the issuer.\n"
      enum:
      - MAIL_TELEPHONE_ORDER_SINGLE
      - MAIL_TELEPHONE_ORDER_RECURRING
      - MAIL_TELEPHONE_ORDER_INSTALMENT
      - MAIL_TELEPHONE_ORDER_UNKNOWN
      - AUTHENTICATED_ECOMMERCE
      - NON_AUTHENTICATED_ECOMMERCE
      - SSL_MERCHANT
      example: AUTHENTICATED_ECOMMERCE
      default: SSL_MERCHANT
    ipv6:
      type:
      - string
      - 'null'
      format: ipv6
      description: Internet Protocol version 6 (IPv6).
      example: 2600:1401:2::8a
    cardInformation:
      type: object
      description: Information about the card being used for the transaction
      properties:
        bankIdentificationNumber:
          type:
          - string
          - 'null'
          description: "**BIN**: Bank Identification Number \n\nConsists of the first six to eight digits of the Primary Account Number (PAN) and identifies the relevant payment network and the specific payment issuing institution.\n"
          minLength: 6
          maxLength: 8
          example: '123456'
        lastFour:
          type:
          - string
          - 'null'
          description: Last 4 digits of the card.
          minLength: 4
          maxLength: 4
          example: '1234'
        expiryMonth:
          $ref: '#/components/schemas/expiryMonth'
        expiryYear:
          $ref: '#/components/schemas/expiryYear'
        cardBrand:
          $ref: '#/components/schemas/cardBrand'
        cardType:
          type:
          - string
          - 'null'
          description: Specifies the intended card use; i.e. debit or credit.
          enum:
          - CREDIT
          - DEBIT
          - DOMESTIC_DEBIT
          - PREPAID_RELOADABLE
          - PREPAID_NON_RELOADABLE
          - UNKNOWN
          - GIFT
          - LOYALTY
          - FLEET
          - CORPORATE
          example: CREDIT
        cardFingerprint:
          $ref: '#/components/schemas/cardFingerprint'
        issuer:
          $ref: '#/components/schemas/issuer'
    googlePayDecryptedWallet:
      title: googlePayDecryptedWallet
      description: Google Pay wallet details after decrypting the token.
      allOf:
      - $ref: '#/components/schemas/paymentMethodRequestBase'
      - type: object
        properties:
          gatewayMerchantId:
            type:
            - string
            - 'null'
            description: Gateway unique store id
            example: cagw123456
          messageExpiration:
            type:
            - string
            - 'null'
            format: date-time
            description: 'Date and time at which the message expires. Integrators should reject any message that''s expired.

              '
            example: '2024-09-19T00:00:00Z'
          messageId:
            type:
            - string
            - 'null'
            description: A unique ID that identifies the message in case it needs to be revoked or located at a later time.
          walletSource:
            type: string
            description: "The type of the payment credential. Supported values are:\n  - CARD\n  - TOKENIZED_CARD\n"
            enum:
            - CARD
            - TOKENIZED_CARD
          cardBrand:
            type: string
            description: Card Network.
            enum:
            - MASTERCARD
            - VISA
            - AMERICAN_EXPRESS
            - INTERAC
          walletIndicator:
            $ref: '#/components/schemas/walletIndicator'
          cardDetails:
            $ref: '#/components/schemas/googlePayDecryptedCardDetails'
        required:
        - walletSource
        - cardBrand
        - cardDetails
        - walletIndicator
      required:
      - paymentMethodSource
    credentialOnFileInformation:
      type: object
      description: 'Contains fields related to the Credential on File (CoF) '
      properties:
        paymentIndicator:
          $ref: '#/components/schemas/paymentIndicator'
        paymentInformation:
          $ref: '#/components/schemas/paymentInformation'
        issuerId:
          $ref: '#/components/schemas/issuerId'
        originalAmount:
          $ref: '#/components/schemas/originalAmount'
      required:
      - paymentIndicator
      - paymentInformation
      example:
        paymentIndicator: CUSTOMER_INITIATED
        paymentInformation: FIRST
        issuerId: 123asd
    billingIntervalUnit:
      type: string
      description: "Controls whether the recurring series occurs on a: daily (`DAY`), weekly (`WEEK`), or monthly (`MONTH`) basis. \n\nTo ensure regular schedules, use `END_OF_MONTH` for schedules occurring on the last day of each month.\n"
      enum:
      - DAY
      - WEEK
      - MONTH
      - END_OF_MONTH
    walletCryptogram:
      type: string
      description: Token cryptogram or encoded Base64 for Interac Wallets.
      maxLength: 500
      example: 8YGKgiD0iJic84fBLVj3QuwuclqLp7QvizbKnGRYAMVfVwBobYMBAIQBAIUBAIZTWgpQdgQQKZkZFHGfXySDKRAxXyoCASSfAgYAAAAQAABfIAIgL58ZBgSSSSSSSL9JIoEgAAMj1qj1U9jsORa1qxqAEAHOBAAEAECKALEAAAADEACHCAAAAAAAAAAAkAA=
    billingIntervalFrequency:
      type: integer
      format: int32
      description: 'Number of interval units passing between subscribed payments. Frequencies higher than 1 cause the subscription to skip intervals, such as bi-weekly (2 weeks) or annual subscriptions (12 months).

        '
      minimum: 1
      maximum: 999
      example: 1
    paymentAccountReference:
      type:
      - string
      - 'null'
      description: 'Used to link Primary Account Number (PAN) based transactions and transactions on associated payment tokens without using the PAN as the linking mechanism.

        '
      minLength: 1
      maxLength: 29
      example: '11112222333344445555666677778'
    parameterError:
      title: Parameter error
      description: Request property or header related error.
      type: object
      properties:
        parameterName:
          type: string
          description: Property or header name. Can contain nested path separated by '.'
          example: address.postalCode
        parameterValue:
          type:
          - string
          - 'null'
          description: Property or header value string representation.
          example: MAP3J8
        reasonCode:
          type: string
          description: Reason that triggered the error.
          enum:
          - INVALID_FORMAT
          - REQUIRED_FIELD
          - INVALID_VALUE
          example: INVALID_FORMAT
        errorMessage:
          type:
          - string
          - 'null'
          description: Human readable description of the error.
          example: String 'MAP3J8' does not match the postal code pattern.
      required:
      - parameterName
      - reasonCode
    createdAt:
      description: Time at which the object was created
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
    walletEcommerceIndicator:
      type:
      - string
      - 'null'
      description: ECI Indicator as provided by the Wallet.
    error:
      description: Error response details.
      properties:
        type:
          description: 'A URI reference that identifies the problem type.  Ideally it should be a stable URL to the documentation of the details about this type of error but it also can be a URN.  If nothing can be provided, a "about:blank" value is returned.

            '
          type: string
          format: uri
          example: https://api-developer.moneris.com/responsehandling
        title:
          description: 'A short, human-readable summary of the problem type.   It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization

            '
          type:
          - string
          - 'null'
          example: INSUFFICIENT_FUNDS
        status:
          description: 'it conveys the HTTP status code used for the convenience of the consumer.

            '
          type:
          - integer
          - 'null'
          format: int32
          minimum: 100
          maximum: 505
        detail:
          description: 'A human-readable message providing more details about the error. For card errors, these messages can be shown to your users.

            '
          type:
          - string
          - 'null'
          example: Funds are insufficient to execute the operation.
        instance:
          description: 'A URI reference that identifies the specific occurrence of the problem. Typically, this resolves to a resource that might include more details about the problem.

            '
          type:
          - string
          - 'null'
          example: /payments/12f3e0a8-1d68-2b86-dd30-4ca51bb66e10
          format: uri-reference
        category:
          description: "The type of error returned. \n - `API_ERROR`: This occurs due to an intermittent issue.  \n - `IDEMPOTENCY_ERROR`: The idempotency key has already been used.\n - `INVALID_REQUEST_ERROR`: The data provided in the request is invalid.\n - `DECLINED_ERROR`: Transaction was declined by the issuer.\n - `UNAUTHORIZED_ERROR`: Caller not authenticated, or not allowed to execute the current operation.\n - `INTERNAL_SERVER_ERROR`: An internal issue with our servers has occured.\n"
          enum:
          - API_ERROR
          - IDEMPOTENCY_ERROR
          - INVALID_REQUEST_ERROR
          - DECLINED_ERROR
          - UNAUTHORIZED_ERROR
          - INTERNAL_SERVER_ERROR
          - null
          type:
          - string
          - 'null'
          example: DECLINED_ERROR
        errors:
          type: array
          description: List of validation errors when error category is INVALID_REQUEST_ERROR.
          items:
            type: object
            $ref: '#/components/schemas/parameterError'
          example:
          - parameterName: address.postalCode
            parameterValue: MAP3J8
            errorMessage: address.Postal code does not match regular expression
            reasonCode: INVALID_FORMAT
      title: API Error
      type: object
      required:
      - type
    googlePayEncryptedWallet:
      title: googlePayEncryptedWallet
      description: Apple Pay encrypted wallet details.
      allOf:
      - $ref: '#/components/schemas/paymentMethodRequestBase'
      - type: object
        properties:
          cardBrand:
            type: string
            description: Card Brand.
            enum:
            - MASTERCARD
            - VISA
            - AMERICAN_EXPRESS
            - INTERAC
            example: INTERAC
          signature:
            type: string
            description: 'Verifies that the message came from Google.  It''s base64-encoded, and created with ECDSA by the intermediate signing key.

              '
          googlePayProtocolVersion:
            type: string
            description: "Identifies the encryption or signing scheme under which the message is created. \nIt allows the protocol to evolve over time, if needed.\nMust be fowarded as provided by Google Pay.\n"
            example: ECv1
          signedMessage:
            type: string
            description: 'A JSON object serialized as an HTML-safe string that contains the encryptedMessage, ephemeralPublicKey, and tag.  It''s serialized to simplify the signature verification process.

              '
          walletIndicator:
            $ref: '#/components/schemas/walletIndicator'
        required:
        - cardBrand
        - signature
        - googlePayProtocolVersion
        - signedMessage
        - walletIndicator
      required:
      - paymentMethodSource
    paymentMethodRequestSource:
      type: string
      description: "The source of Payment Method being used. It can be:\n  - The Id of a Payment Method already created.\n  - Permanent Token.\n  - Temporary Token.\n  - Card.\n  - E-Wallet.\n"
      enum:
      - PAYMENT_METHOD_ID
      - CARD
      - TEMPORARY_TOKEN
      - PERMANENT_TOKEN
      - APPLE_PAY_ENCRYPTED
      - APPLE_PAY_DECRYPTED
      - GOOGLE_PAY_ENCRYPTED
      - GOOGLE_PAY_DECRYPTED
    paymentMethodId:
      type: string
      description: Unique Identifier of the payment method.
      pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
      minLength: 30
      maxLength: 30
      example: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
    ipv4:
      type:
      - string
      - 'null'
      format: ipv4
      description: Internet Protocol version 4 (IPv4).
      example: 104.75.173.179
    paymentMethodWithId:
      title: paymentMethodWithId
      description: Use existing unique payment method identifier.
      properties:
        paymentMethodSource:
          $ref: '#/components/schemas/paymentMethodRequestSource'
        paymentMethodId:
          $ref: '#/components/schemas/paymentMethodId'
      required:
      - paymentMethodSource
      - paymentMethodId
    subscriptionPaymentMethodRequest:
      title: subscriptionPaymentMethodRequest
      description: 'Subscription Payment method details.


        Note: If defined, this will result in the creation of a Permanent Payment Method as defined in the Payment Method API.

        '
      oneOf:
      - $ref: '#/components/schemas/subscriptionPaymentMethodIdRequest'
      - $ref: '#/components/schemas/subscriptionPaymentMethodCardRequest'
      - $ref: '#/components/schemas/subscriptionPaymentMethodTemporaryTokenRequest'
      - $ref: '#/components/schemas/subscriptionPaymentMethodPermanentTokenRequest'
      - $ref: '#/components/schemas/subscriptionPaymentMethodApplePayEncryptedWalletRequest'
      - $ref: '#/components/schemas/subscriptionPaymentMethodApplePayDecryptedWalletRequest'
      - $ref: '#/components/schemas/subscriptionPaymentMethodGooglePayEncryptedWalletRequest'
      - $ref: '#/components/schemas/subscriptionPaymentMethodGooglePayDecryptedWalletRequest'
      discriminator:
        propertyName: paymentMethodSource
        mapping:
          PAYMENT_METHOD_ID: '#/components/schemas/subscriptionPaymentMethodIdRequest'
          CARD: '#/components/schemas/subscriptionPaymentMethodCardRequest'
          TEMPORARY_TOKEN: '#/components/schemas/subscriptionPaymentMethodTemporaryTokenRequest'
          PERMANENT_TOKEN: '#/components/schemas/subscriptionPaymentMethodPermanentTokenRequest'
          APPLE_PAY_ENCRYPTED: '#/components/schemas/subscriptionPaymentMethodApplePayEncryptedWalletRequest'
          APPLE_PAY_DECRYPTED: '#/components/schemas/subscriptionPaymentMethodApplePayDecryptedWalletRequest'
          GOOGLE_PAY_ENCRYPTED: '#/components/schemas/subscriptionPaymentMethodGooglePayEncryptedWalletRequest'
          GOOGLE_PAY_DECRYPTED: '#/components/schemas/subscriptionPaymentMethodGooglePayDecryptedWalletRequest'
    storePaymentMethod:
      description: "Store this payment method created through this payment for future use. \n- DO_NOT_STORE: Payment method will not be stored.\n- CARDHOLDER_INITIATED: Payment method to be stored and can only re-used with cardholder's consent. Limited to store, pre-authorisation, and card validations.\"\n- MERCHANT_INITIATED: Payment method to be stored and can be reused without the cardholder's consent. For example, subscriptions.\n"
      type: string
      default: DO_NOT_STORE
      enum:
      - DO_NOT_STORE
      - CARDHOLDER_INITIATED
      - MERCHANT_INITIATED
    cardNumber:
      type: string
      description: Identifies the customer's credit or debit card number (Primary Account Number).
      pattern: ^[0-9]{13,19}$
      example: '4242424242424242'
    subscriptionPaymentMethodIdRequest:
      title: subscriptionPaymentMethodIdRequest
      allOf:
      - $ref: '#/components/schemas/paymentMethodWithId'
      - type: object
        properties:
          credentialOnFileInformation:
            type:
            - object
            - 'null'
            description: 'Contains fields related to the Credential on File (CoF) '
            properties:
              paymentIndicator:
                $ref: '#/components/schemas/paymentIndicator'
              paymentInformation:
                $ref: '#/components/schemas/paymentInformation'
              issuerId:
                $ref: '#/components/schemas/issuerId'
              originalAmount:
                $ref: '#/components/schemas/originalAmount'
            required:
            - paymentIndicator
            - paymentInformation
            example:
              paymentIndicator: CUSTOMER_INITIATED
              paymentInformation: FIRST
              issuerId: 123asd
    googlePayDecryptedCardDetails:
      description: 'The payment credential itself.  The format of this object is determined by the paymentMethod

        '
      type: object
      properties:
        personalAccountNumber:
          description: The personal account number charged. This string contains only digits.
          type: string
          pattern: ^[0-9]{13,19}$
          example: '4242424242424242'
        expiryMonth:
          $ref: '#/components/schemas/expiryMonth'
        expiryYear:
          $ref: '#/components/schemas/expiryYear'
        authenticationMethod:
          description: 'The authentication method of the card transaction.

            Must be forwarded as provided by Google Pay.

            '
          type:
          - string
          - 'null'
        cryptogram:
          type:
          - string
          - 'null'
          description: Token cryptogram or encoded Base64 for Interac Wallets.
          maxLength: 500
          example: 8YGKgiD0iJic84fBLVj3QuwuclqLp7QvizbKnGRYAMVfVwBobYMBAIQBAIUBAIZTWgpQdgQQKZkZFHGfXySDKRAxXyoCASSfAgYAAAAQAABfIAIgL58ZBgSSSSSSSL9JIoEgAAMj1qj1U9jsORa1qxqAEAHOBAAEAECKALEAAAADEACHCAAAAAAAAAAAkAA=
        walletEcommerceIndicator:
          $ref: '#/components/schemas/walletEcommerceIndicator'
      required:
      - personalAccountNumber
      - expiryMonth
      - expiryYear
    cardFingerprint:
      type:
      - string
      - 'null'
      description: "Unique card identifier. \n\nFingerprinting randomly assigns identfiers for cards that share the same Primary Account Number (PAN) to easily identify when multiple payments methods are attached to the same underlying card, and assists merchants identify individual customers across various channels; i.e.  loyalty programs.\n"
      maxLength: 255
      example: 1Q2W3E4r5t6rfwewerwewrrw
    cancelSubscriptionRequest:
      title: cancelSubscriptionRequest
      type: object
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/idempotencyKey'
        customData:
          $ref: '#/components/schemas/customData'
        reason:
          description: Reason for the cancellation.
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 100
          example: Defective product
      required:
      - idempotencyKey
    updateSubscriptionDetails:
      type: object
      description: Update Subscription details such as the subscription billing cycle, amount, and payment method.
      properties:
        paymentMethod:
          $ref: '#/components/schemas/subscriptionPaymentMethodIdRequest'
        totalSubscriptionIntervalCount:
          $ref: '#/components/schemas/subscriptionIntervalCount'
        subscriptionAmount:
          description: The amount of the subscription transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
          type: object
          properties:
            amount:
              $ref: '#/components/schemas/amount'
            currency:
              $ref: '#/components/schemas/currency'
          required:
          - amount
          - currency
          example:
            amount: 16000
            currency: CAD
        callbackUrl:
          $ref: '#/components/schemas/callbackUrl'
        customerId:
          $ref: '#/components/schemas/customerId'
        customerReference:
          type:
          - string
          - 'null'
          description: Unique Identification for the Customer. This can be an identifier generated from a merchant-defined identifier.
          example: 911677-212
          minLength: 1
          maxLength: 50
        customData:
          $ref: '#/components/schemas/customData'
    originalAmount:
      type:
      - object
      - 'null'
      description: "Original amount for the first transaction in the series. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059\n"
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - amount
      - currency
      example:
        amount: 15000
        currency: CAD
    cardholderInformation:
      type:
      - object
      - 'null'
      description: Information about the holder of the card.
      properties:
        cardholderName:
          $ref: '#/components/schemas/cardholderName'
        companyName:
          $ref: '#/components/schemas/companyName'
      required:
      - cardholderName
    dataType:
      type: string
      description: 'Only available to Canada integrations.


        Applies to merchants using their own API for transaction payload encryptions and is mandatory for INTERAC® e-Commerce Apple Pay and Google Pay transactions.

        '
      enum:
      - THREE_D_SECURE
      - EMV
    walletIndicator:
      type: string
      description: 'Only available to Canada integrations.

        Applies to merchants using their own API for transaction payload encryptions for Apple Pay and Google Pay transactions.

        **NOTE**: This field is mandatory for wallet transactions and is case senstive."

        '
      enum:
      - IN_APPLICATION
      - IN_BROWSER
    next:
      description: Pagination link pointing to the next page.
      type:
      - string
      - 'null'
      format: uri-reference
    dynamicDescriptor:
      type:
      - string
      - 'null'
      description: "Merchant defined description sent on a per-transaction basis that will appear on the credit card statement.  \n\nDependent on the card Issuer, the statement will typically show the dynamic descriptor appended to the merchant's existing business name separated by the '/' character.  \n\n**Note**: The combined length of the merchant's business name, forward slash '/' character, and the dynamic descriptor may not exceed 22 characters.\n"
      minLength: 1
      maxLength: 20
      example: moneris
    idempotencyKey:
      type: string
      description: "A Unique Identifier that is required for handling idempotent requests. \n\nNote: Moneris encourages the use of UUID Version 4 in APIs as an idempotency key.\"    \n"
      minLength: 1
      maxLength: 36
      example: 6q5w4e7r8t9y
    subscriptionId:
      type: string
      pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
      minLength: 30
      maxLength: 30
      description: Unique Identification for the Subscription
      example: si0105ARZ3NDEKTSV4RRFFQ69G5FAV
    credentialOnFileResponse:
      type:
      - object
      - 'null'
      description: 'Contains fields related to the Credential on File (CoF) '
      properties:
        originalAmount:
          $ref: '#/components/schemas/originalAmount'
        issuerId:
          $ref: '#/components/schemas/issuerId'
    paymentMethodRequestBase:
      description: 'Payment Method details.


        Note: If defined, this will result in the creation of Payment Method as defined in the Payment Method API.

        '
      type: object
      properties:
        cardholderInformation:
          $ref: '#/components/schemas/cardholderInformation'
        contactDetails:
          $ref: '#/components/schemas/contactDetails'
        billingAddress:
          type:
          - object
          - 'null'
          description: 'The postal address including street, town/city, province, and postal code.

            Optionally an unit number can be provided.

            '
          properties:
            unitNumber:
              type:
              - string
              - 'null'
              description: Unit number
              minLength: 1
              maxLength: 19
              example: 123A
            streetNumber:
              type:
              - string
              - 'null'
              description: Street number
              minLength: 1
              maxLength: 19
              example: '3300'
            streetName:
              type:
              - string
              - 'null'
              description: Street name
              minLength: 1
              maxLength: 100
              example: Bloor
            city:
              type:
              - string
              - 'null'
              description: 'Identifies the city.

                '
              minLength: 1
              maxLength: 50
              example: Toronto
            province:
              type:
              - string
              - 'null'
              description: 'Province or state ISO 3166-2 code '
              minLength: 1
              maxLength: 3
              format: iso-3166-2
              example: 'ON'
            postalCode:
              type:
              - string
              - 'null'
              description: Postal or zip code
              minLength: 1
              maxLength: 30
              example: M8X 2X2
            country:
              type:
              - string
              - 'null'
              description: "Provides the two letter country code according the ISO 3166-1 alpha-2 standard. \nFor a complete list of country codes, visit: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2.\n"
              minLength: 2
              maxLength: 2
              example: CA
              format: iso-3166
          example:
            unitNumber: 123A
            streetNumber: '3300'
            streetName: Bloor Street West
            city: Toronto
            province: 'ON'
            postalCode: M8X 2X2
            country: CA
        paymentMethodSource:
          $ref: '#/components/schemas/paymentMethodRequestSource'
        customData:
          $ref: '#/components/schemas/customData'
      required:
      - paymentMethodSource
    threeDSecureData:
      description: Data related to 3-D Secure
      type:
      - object
      - 'null'
      oneOf:
      - $ref: '#/components/schemas/threeDSecureWithAuthenticationId'
      - $ref: '#/components/schemas/threeDSecureWithAuthenticationData'
    paymentMethodTemporaryToken:
      title: paymentMethodTemporaryToken
      description: 'A Temporary Token is issued by Moneris to the merchant and represents the card details. Please review the Hosted Tokenization feature documentation to learn how to issue such a token.

        '
      allOf:
      - type: object
        properties:
          temporaryToken:
            $ref: '#/components/schemas/token'
        required:
        - paymentMethodSource
        - temporaryToken
      - $ref: '#/components/schemas/paymentMethodRequestBase'
      required:
      - paymentMethodSource
      - temporaryToken
    apiVersion:
      description: 'The endpoint''s API Version.  Must be provided through headers.

        '
      type: string
      example: '2025-08-14'
      default: '2025-08-14'
    expiryMonth:
      type: integer
      format: int32
      description: Card expiration month. Format must be MM
      minimum: 1
      maximum: 12
      example: 1
    applePayDecryptedWallet:
      title: applePayDecryptedWallet
      description: Apple Pay wallet details after decrypting the token.
      allOf:
      - $ref: '#/components/schemas/paymentMethodRequestBase'
      - type: object
        properties:
          applicationPrimaryAccountNumber:
            description: The unique identifier for the primary account number for the payment card.
            type: string
            pattern: ^[0-9]{13,19}$
            example: '4242424242424242'
          expiryMonth:
            $ref: '#/components/schemas/expiryMonth'
          expiryYear:
            $ref: '#/components/schemas/expiryYear'
          deviceManufacturerIdentifier:
            $ref: '#/components/schemas/deviceManufacturerIdentifier'
          dataType:
            $ref: '#/components/schemas/dataType'
          cryptogram:
            $ref: '#/components/schemas/walletCryptogram'
          cardBrand:
            type: string
            description: Card Brand.
            enum:
            - MASTERCARD
            - VISA
            - AMERICAN_EXPRESS
            - INTERAC
            - DISCOVER
          walletEcommerceIndicator:
            $ref: '#/components/schemas/walletEcommerceIndicator'
          walletIndicator:
            $ref: '#/components/schemas/walletIndicator'
        required:
        - applicationPrimaryAccountNumber
        - expiryMonth
        - expiryYear
        - dataType
        - cryptogram
        - cardBrand
        - walletIndicator
      required:
      - paymentMethodSource
    currency:
      type: string
      description: "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n"
      minLength: 3
      maxLength: 4
      example: CAD
      format: iso-4217
    subscriptionIntervalCount:
      type: integer
      format: int32
      description: 'How many payments are scheduled in the series. Payments related to the oneTimeAmount field are not included in the initial count.

        '
      minimum: 1
      maximum: 99
      example: 12
    paymentInformation:
      type: string
      description: Describes whether the transaction is the first or subsequent in the series
      enum:
      - FIRST
      - SUBSEQUENT
      example: FIRST
    issuerId:
      type:
      - string
      - 'null'
      description: "Displays a unique identifier for the card holder's stored credentials. \n\nThis information is returned from the card brand when processing a Credential on File transaction.\n"
      minLength: 1
      maxLength: 15
      example: A
    applePayEncryptedWallet:
      title: applePayEncryptedWallet
      description: Apple Pay encrypted wallet details.
      allOf:
      - $ref: '#/components/schemas/paymentMethodRequestBase'
      - type: object
        properties:
          displayName:
            type: string
            description: Display Name
            example: MasterCard 4079
          cardBrand:
            type: string
            description: Card Brand.
            enum:
            - MASTERCARD
            - VISA
            - AMERICAN_EXPRESS
            - INTERAC
            - DISCOVER
            example: MASTERCARD
          applePayVersion:
            type: string
            description: "Version information about the payment token.\n  - EC_V1: For ECC-encrypted data\n  - RSA_V1: For RSA-encrypted data\n"
            enum:
            - EC_V1
            - RSA_V1
            example: EC_V1
          data:
            type: string
            description: 'Encrypted payment data. Base64 encoded as a string.

              '
            format: byte
            example: MTIzNDU2Njc4OQ==
          signature:
            type: string
            description: 'Signature of the payment and header data, Base64 encoded as a string. The signature includes the signing certificate, its intermediate CA certificate, and information about the signing algorithm. Can be a detached PKCS #7 signature, Base64 encoded as a string

              '
          publicKeyHash:
            type: string
            description: 'Hash of the X.509 encoded public key bytes of the merchant’s certificate. Can be either a base64 encoded or SHA-256 Hash string.

              '
          ephemeralPublicKey:
            type: string
            description: 'Ephemeral public key bytes. Only for RSA_v1. Can be either a base64 encoded string or X.509 bytes.

              '
            format: byte
          applePayTransactionId:
            type: string
            description: The Apple Pay unique identifier for a transaction such as an in-app purchase, restored in-app purchase, or subscription renewal.
          walletIndicator:
            $ref: '#/components/schemas/walletIndicator'
        required:
        - displayName
        - cardBrand
        - applePayVersion
        - data
        - signature
        - publicKeyHash
        - ephemeralPublicKey
        - applePayTransactionId
        - walletIndicator
      required:
      - paymentMethodSource
    modifiedAt:
      description: Time at which the object was modified
      type:
      - string
      - 'null'
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
    resumeSubscriptionRequest:
      title: resumeSubscriptionRequest
      type: object
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/idempotencyKey'
        customData:
          $ref: '#/components/schemas/customData'
      required:
      - idempotencyKey
    threeDSecureServerTransactionId:
      type: string
      description: "Indicates information required when sending a version 3-D Secure 2.0+ transaction. \n\nThis data is obtained from a CAVV Lookup Request or MPI 3DS Authentication Request transaction.\n"
      format: uuid
      example: ad9b0eda-bf9b-4288-b188-9467993603e1
    dateTime:
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
      description: Date & Time
    customData:
      description: Merchant can send custom meta data with the transaction in this object. Moneris will echo these values back in response.
      type:
      - object
      - 'null'
      additionalProperties:
        type: string
        minLength: 1
        maxLength: 50
      maxProperties: 10
    self:
      description: Pagination link pointing to the current page.
      type:
      - string
      - 'null'
      format: uri-reference
    deviceManufacturerIdentifier:
      type:
      - string
      - 'null'
      description: Hex-encoded device manufacturer identifier
    orderId:
      type:
      - string
      - 'null'
      description: 'Indicates the merchant-defined transaction identifer or order ID. Identifiers are unique for every Purchase, Pre-Authorization and Independent Refund transaction


        **Note**: No two transactions of these types may have the same order ID. Field only accepts alphanumerical characters, dashes and underscores.

        '
      minLength: 1
      maxLength: 50
      example: 1q2w3e4r5t6t78
      pattern: ^[a-zA-Z0-9-_]+$
    customerId:
      type: string
      description: Unique Identification for the Customer
      example: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
      pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
      minLength: 30
      maxLength: 30
    subscriptionType:
      type: string
      description: 'Subscription Type.

        - RECURRING: Recurring Subscription.

        '
      enum:
      - RECURRING
      example: RECURRING
    subscription:
      title: subscription
      type: object
      properties:
        subscriptionId:
          $ref: '#/components/schemas/subscriptionId'
        merchantId:
          $ref: '#/components/schemas/merchantId'
        orderId:
          $ref: '#/components/schemas/orderId'
        invoiceNumber:
          $ref: '#/components/schemas/invoiceNumber'
        createdAt:
          $ref: '#/components/schemas/createdAt'
        customerId:
          type:
          - string
          - 'null'
          description: Unique Identification for the Customer
          example: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
          pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
          minLength: 30
          maxLength: 30
        customerReference:
          type:
          - string
          - 'null'
          description: Unique Identification for the Customer. This can be an identifier generated from a merchant-defined identifier.
          example: 911677-212
          minLength: 1
          maxLength: 50
        modifiedAt:
          $ref: '#/components/schemas/modifiedAt'
        subscriptionType:
          $ref: '#/components/schemas/subscriptionType'
        billingInformation:
          $ref: '#/components/schemas/billingInformation'
        callbackUrl:
          $ref: '#/components/schemas/callbackUrl'
        paymentMethod:
          $ref: '#/components/schemas/paymentMethod'
        subscriptionStatus:
          $ref: '#/components/schemas/subscriptionStatus'
        oneTimeAmount:
          description: The amount for the first subscription transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
          type:
          - object
          - 'null'
          properties:
            amount:
              $ref: '#/components/schemas/amount'
            currency:
              $ref: '#/components/schemas/currency'
          required:
          - amount
          - currency
          example:
            amount: 16000
            currency: CAD
        credentialOnFileResponse:
          $ref: '#/components/schemas/credentialOnFileResponse'
        customData:
          $ref: '#/components/schemas/customData'
        payments:
          type: array
          description: List of payments
          items:
            $ref: '#/components/schemas/paymentReference'
      required:
      - subscriptionId
      - merchantId
      - orderId
      - createdAt
      - subscriptionType
      - billingInformation
      - paymentMethod
      - subscriptionStatus
    paymentReference:
      description: Payment reference. Can be expanded into full payment details using the expand query parameter.
      type:
      - object
      - 'null'
      properties:
        paymentId:
          $ref: '#/components/schemas/paymentId'
        href:
          $ref: '#/components/schemas/paymentUri'
      required:
      - paymentId
    subscriptionPaymentMethodApplePayEncryptedWalletRequest:
      title: subscriptionPaymentMethodApplePayEncryptedWalletRequest
      allOf:
      - $ref: '#/components/schemas/applePayEncryptedWallet'
      - type: object
        properties:
          credentialOnFileInformation:
            type:
            - object
            - 'null'
            description: 'Contains fields related to the Credential on File (CoF) '
            properties:
              paymentIndicator:
                $ref: '#/components/schemas/paymentIndicator'
              paymentInformation:
                $ref: '#/components/schemas/paymentInformation'
              issuerId:
                $ref: '#/components/schemas/issuerId'
              originalAmount:
                $ref: '#/components/schemas/originalAmount'
            required:
            - paymentIndicator
            - paymentInformation
            example:
              paymentIndicator: CUSTOMER_INITIATED
              paymentInformation: FIRST
              issuerId: 123asd
    paymentIndicator:
      type: string
      description: 'Indicates the current or intended use of the credentials

        - **UNSCHEDULED_CREDENTIAL_ON_FILE**: unscheduled Credential on File (first transactions only)

        - **RECURRING**: recurring transaction

        - **MERCHANT_INITIATED**: unscheduled merchant-initiated transaction

        - **VARIABLE_RECURRING**: recurring variable payment transaction

        - **CUSTOMER_INITIATED**: unscheduled customer-initiated transaction

        '
      enum:
      - UNSCHEDULED_CREDENTIAL_ON_FILE
      - RECURRING
      - MERCHANT_INITIATED
      - VARIABLE_RECURRING
      - CUSTOMER_INITIATED
      example: UNSCHEDULED_CREDENTIAL_ON_FILE
    threeDSecureVersion:
      type: string
      description: Required when sending a 3-D Secure version 2.0+ transaction. If no value is provided, default to V1.
      maxLength: 10
      example: '2.2'
    subscriptionPaymentMethodPermanentTokenRequest:
      title: subscriptionPaymentMethodPermanentTokenRequest
      allOf:
      - $ref: '#/components/schemas/paymentMethodPermanentToken'
      - type: object
        properties:
          credentialOnFileInformation:
            $ref: '#/components/schemas/credentialOnFileInformation'
        required:
        - credentialOnFileInformation
    subscriptionPaymentMethodApplePayDecryptedWalletRequest:
      title: subscriptionPaymentMethodApplePayDecryptedWalletRequest
      allOf:
      - $ref: '#/components/schemas/applePayDecryptedWallet'
      - type: object
        properties:
          credentialOnFileInformation:
            type:
            - object
            - 'null'
            description: 'Contains fields related to the Credential on File (CoF) '
            properties:
              paymentIndicator:
                $ref: '#/components/schemas/paymentIndicator'
              paymentInformation:
                $ref: '#/components/schemas/paymentInformation'
              issuerId:
                $ref: '#/components/schemas/issuerId'
              originalAmount:
                $ref: '#/components/schemas/originalAmount'
            required:
            - paymentIndicator
            - paymentInformation
            example:
              paymentIndicator: CUSTOMER_INITIATED
              paymentInformation: FIRST
              issuerId: 123asd
    subscriptionList:
      title: subscriptionList
      type: object
      description: Paginated List of subscriptions.
      properties:
        data:
          type: array
          description: List of subscriptions.
          items:
            type: object
            $ref: '#/components/schemas/subscription'
        self:
          $ref: '#/components/schemas/self'
        first:
          $ref: '#/components/schemas/first'
        last:
          $ref: '#/components/schemas/last'
        next:
          $ref: '#/components/schemas/next'
        previous:
          $ref: '#/components/schemas/previous'
      required:
      - data
    contactDetails:
      type:
      - object
      - 'null'
      description: Contact details
      properties:
        phoneNumber:
          type:
          - string
          - 'null'
          description: Phone number.
          pattern: ^\+[1-9]\d{1,14}$
          minLength: 3
          maxLength: 16
          example: '+18663197450'
        email:
          type:
          - string
          - 'null'
          format: email
          description: 'Contains the customer''s email address.


            For standard email protocols, visit: https://www.rfc-editor.org/rfc/rfc5322

            '
          minLength: 1
          maxLength: 320
          example: moneris@moneris.com
      example:
        phoneNumber: '+18663197450'
        email: moneris@moneris.com
    last:
      description: Pagination link pointing to the last page.
      type:
      - string
      - 'null'
      format: uri-reference
    cardPaymentMethodInformation:
      title: Card Payment Method Information
      description: Details about the card used in the payment method.
      type: object
      properties:
        paymentMethodType:
          type: string
          description: "The type of Payment Method being used. It can be:\n  - Card.\n"
          enum:
          - CARD
        paymentMethodSource:
          type: string
          description: "The source of Payment Method being used. It can be:\n  - The Id of a Payment Method already created.\n  - Permanent Token.\n  - Temporary Token.\n  - Card.\n  - E-Wallet.\n"
          enum:
          - CARD
          - TEMPORARY_TOKEN
          - PERMANENT_TOKEN
          - APPLE_PAY_ENCRYPTED
          - APPLE_PAY_DECRYPTED
          - GOOGLE_PAY_ENCRYPTED
          - GOOGLE_PAY_DECRYPTED
          example: TEMPORARY_TOKEN
        cardInformation:
          $ref: '#/components/schemas/cardInformation'
        paymentAccountReference:
          $ref: '#/components/schemas/paymentAccountReference'
        storePaymentMethod:
          $ref: '#/components/schemas/storePaymentMethod'
      required:
      - paymentMethodType
      - paymentMethodSource
      - cardInformation
      - storePaymentMethod
    previous:
      description: Pagination link pointing to the previous page.
      type:
      - string
      - 'null'
      format: uri-reference
    issuer:
      type:
      - string
      - 'null'
      description: Card issuer.
      minLength: 1
      maxLength: 100
      example: RBC
    invoiceNumber:
      type:
      - string
      - 'null'
      description: 'Submits a unique value to identify a transaction that is logged by Moneris Solutions.

        '
      minLength: 1
      maxLength: 17
      example: 1a2s3d45v6
    merchantId:
      type: string
      description: "Thirteen character long identification provided to merchants by Moneris. \n"
      minLength: 13
      maxLength: 13
      example: 0123456789101
    subscriptionPaymentMethodGooglePayDecryptedWalletRequest:
      title: subscriptionPaymentMethodGooglePayDecryptedWalletRequest
      allOf:
      - $ref: '#/components/schemas/googlePayDecryptedWallet'
      - type: object
        properties:
          credentialOnFileInformation:
            type:
            - object
            - 'null'
            description: 'Contains fields related to the Credential on File (CoF) '
            properties:
              paymentIndicator:
                $ref: '#/components/schemas/paymentIndicator'
              paymentInformation:
                $ref: '#/components/schemas/paymentInformation'
              issuerId:
                $ref: '#/components/schemas/issuerId'
              originalAmount:
                $ref: '#/components/schemas/originalAmount'
            required:
            - paymentIndicator
            - paymentInformation
            example:
              paymentIndicator: CUSTOMER_INITIATED
              paymentInformation: FIRST
              issuerId: 123asd
    subscriptionPaymentMethodTemporaryTokenRequest:
      title: subscriptionPaymentMethodTemporaryTokenRequest
      allOf:
      - $ref: '#/components/schemas/paymentMethodTemporaryToken'
      - type: object
        properties:
          credentialOnFileInformation:
            type:
            - object
            - 'null'
            description: 'Contains fields related to the Credential on File (CoF) '
            properties:
              paymentIndicator:
                $ref: '#/components/schemas/paymentIndicator'
              paymentInformation:
                $ref: '#/components/schemas/paymentInformation'
              issuerId:
                $ref: '#/components/schemas/issuerId'
              originalAmount:
                $ref: '#/components/schemas/originalAmount'
            required:
            - paymentIndicator
            - paymentInformation
            example:
              paymentIndicator: CUSTOMER_INITIATED
              paymentInformation: FIRST
              issuerId: 123asd
    subscriptionPaymentMethodGooglePayEncryptedWalletRequest:
      title: subscriptionPaymentMethodGooglePayEncryptedWalletRequest
      allOf:
      - $ref: '#/components/schemas/googlePayEncryptedWallet'
      - type: object
        properties:
          credentialOnFileInformation:
            type:
            - object
            - 'null'
            description: 'Contains fields related to the Credential on File (CoF) '
            properties:
              paymentIndicator:
                $ref: '#/components/schemas/paymentIndicator'
              paymentInformation:
                $ref: '#/components/schemas/paymentInformation'
              issuerId:
                $ref: '#/components/schemas/issuerId'
              originalAmount:
                $ref: '#/components/schemas/originalAmount'
            required:
            - paymentIndicator
            - paymentInformation
            example:
              paymentIndicator: CUSTOMER_INITIATED
              paymentInformation: FIRST
              issuerId: 123asd
    amount:
      type: integer
      format: int32
      minimum: 0
      maximum: 999999999
      example: 10000
      description: Amount
    paymentUri:
      title: Payment URI
      description: Payment Reference URL
      type:
      - string
      - 'null'
      format: uri-reference
      example: /payments/pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
    threeDSecureWithAuthenticationData:
      type: object
      title: Three DS Authentication Data
      properties:
        threeDSecureAuthenticationValue:
          $ref: '#/components/schemas/threeDSecureAuthenticationValue'
        threeDSecureVersion:
          $ref: '#/components/schemas/threeDSecureVersion'
        threeDSecureServerTransactionId:
          $ref: '#/components/schemas/threeDSecureServerTransactionId'
        threeDSecureDirectoryServerTransactionId:
          $ref: '#/components/schemas/threeDSecureDirectoryServerTransactionId'
      required:
      - threeDSecureAuthenticationValue
      - threeDSecureVersion
      - threeDSecureServerTransactionId
      - threeDSecureDirectoryServerTransactionId
    threeDSecureDirectoryServerTransactionId:
      type: string
      description: Universally unique transaction identifier assigned by the 3DS Directory Server (DS) to identify a single transaction.
      format: uuid
      example: ad9b0eda-bf9b-4288-b188-9467993603e1
  responses:
    invalidListbadRequest:
      description: Bad Request.
      headers:
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-Correlation-Id:
          $ref: '#/components/headers/correlationId'
        Sunset:
          $ref: '#/components/headers/sunset'
        X-RateLimit-Limit:
          $ref: '#/components/headers/rateLimitCount'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/rateLimitRemaining'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            idempotency_error:
              $ref: '#/components/examples/InvalidListRequestErrorResponse'
    forbidden:
      description: Forbidden. The user does not have permission to access the requested resource.
      headers:
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-Correlation-Id:
          $ref: '#/components/headers/correlationId'
        Sunset:
          $ref: '#/components/headers/sunset'
        X-RateLimit-Limit:
          $ref: '#/components/headers/rateLimitCount'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/rateLimitRemaining'
        WWW-Authenticate:
          schema:
            type: string
            example: Bearer, error="insufficient_scope"
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            type: https://developer.moneris.com/en/More/Testing/Response%20Codes
            title: FORBIDDEN_REQUEST
            status: 403
            detail: null
            instance: null
            category: UNAUTHORIZED_ERROR
            errors: []
    tooManyRequests:
      description: Too Many Requests
      headers:
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-Correlation-Id:
          $ref: '#/components/headers/correlationId'
        Sunset:
          $ref: '#/components/headers/sunset'
        X-RateLimit-Limit:
          $ref: '#/components/headers/rateLimitCount'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/rateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/rateLimitReset'
        Retry-After:
          $ref: '#/components/headers/rateLimitReset'
    extendSubscriptionSuccessResponse:
      description: Subscription extended successfully
      headers:
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-Correlation-Id:
          $ref: '#/components/headers/correlationId'
        Sunset:
          $ref: '#/components/headers/sunset'
        X-RateLimit-Limit:
          $ref: '#/components/headers/rateLimitCount'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/rateLimitRemaining'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/subscription'
          example:
            subscriptionId: rp0105ARZ3NDEKTSV4RRFFQ69G5FAV
            merchantId: 0123456789101
            orderId: 1q2w3e4r5t6t78
            invoiceNumber: 1a2s3d45v6
            customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
            createdAt: '2023-02-25T06:43:40.252Z'
            modifiedAt: '2023-02-26T06:43:40.252Z'
            billingInformation:
[...]
