openapi: 3.2.0
info:
  version: 2.6.1
  title: Moneris Terminal & Service Orders API
  description: 'Moneris API Platform



    [<img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height:32px;">](https://god.gw.postman.com/run-collection/25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8?action=collection%2Ffork&collection-url=entityId%3D25575461-f04750a0-88e9-4c83-8b58-a3aff15eeea8%26entityType%3Dcollection%26workspaceId%3D5d2a9a0f-57a7-441c-b2af-fe6315e80a08)'
  termsOfService: https://www.moneris.com/en/legal/terms-of-use
  contact:
    url: https://api-developer.moneris.com
    email: UnifiedAPI@moneris.com
  license:
    name: Moneris
    url: https://developer.moneris.com/Agreements/Terms%20of%20Use
  x-audience: external-public
servers:
- url: https://api.sb.moneris.io
  description: Sandbox server (uses test data)
  x-internal: false
- url: https://api.moneris.io
  description: Production server (uses live data)
  x-internal: false
tags:
- name: Terminal & Service Orders
  description: Manage Moneris Terminal & Service Orders
paths:
  /onboarding/merchants/{merchant-id}/orders:
    parameters:
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/prm-merchants_merchantId'
    post:
      summary: Create Order
      description: Submit an order payload to create an order for the merchant
      operationId: createOrder
      security:
      - OAuth2:
        - onboarding.order.write
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOrderRequest'
            examples:
              OrderPayload:
                $ref: '#/components/examples/CreateStandardOrderPayload'
              OrderPayloadPartnerBank:
                $ref: '#/components/examples/CreatePartnerBankOrderPayload'
      tags:
      - Terminal & Service Orders
      responses:
        '201':
          description: Successful response corresponding to the provided payload
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              example:
                merchantOrderId: 1471632
                merchantId: 0030211900586
                userIdentifier: '001'
                representativeCode: 0A
                adjudicationRequired: true
                orderStatus: APPLICATION_SUBMITTED
                orderType: NET_NEW_MERCHANT
                orderOpenedAt: '2025-06-17T21:39:01.85+00:00'
                orderChangedAt: '2025-06-17T22:40:55.577+00:00'
                feeDetails:
                  minimumMerchantDiscountRateFee:
                    unitPrice:
                      amount: 699
                      currency: CAD
                    taxes: []
                  paperStatementFee:
                    unitPrice:
                      amount: 795
                      currency: CAD
                    taxes: []
                  pciSecurityFee:
                    unitPrice:
                      amount: 895
                      currency: CAD
                    taxes: []
                  totalAdminFee:
                    unitPrice:
                      amount: 200
                      currency: CAD
                    taxes: []
                  agedCloseBatchFee:
                    unitPrice:
                      amount: 250
                      currency: CAD
                    taxes: []
                  mastercardComplianceFee:
                    unitPrice:
                      amount: 8000
                      currency: CAD
                    taxes: []
                  dialCommunicationFee:
                    unitPrice:
                      amount: 8
                      currency: CAD
                    taxes: []
                promotionInformation:
                  promotionCode: 1MONTHOFF
                  promotionName: 1MONTHOFF
                  promotionExpirationDate: '2024-06-27T05:00:00+00:00'
                supplies:
                - supplyName: 2-PLY Sales Draft Slips (25)
                  unitPrice:
                    amount: 2
                    currency: CAD
                  quantity: 1
                - supplyName: Physical Distancing Arrow Decal
                  unitPrice:
                    amount: 6
                    currency: CAD
                  quantity: 3
                productDetails:
                  wireless:
                    feeDetails:
                      goSoftwareFee:
                        feeType: GoSoftwareFee
                        unitPrice:
                          amount: 5
                          currency: CAD
                        waivePeriod: null
                  monerisGateway:
                    feeDetails:
                      monthlyFee:
                        feeType: MonthlyFee
                        unitPrice:
                          amount: 0
                          currency: CAD
                        waivePeriod: null
                      visa3dSecureAuthenticationTransactionFee:
                        feeType: Visa3DSecureAuthTxn
                        unitPrice:
                          amount: 25
                          currency: CAD
                        waivePeriod: null
                      mastercard3dSecureAuthenticationTransactionFee:
                        feeType: Mastercard3DSecureAuthTxn
                        unitPrice:
                          amount: 11
                          currency: CAD
                        waivePeriod: null
                      visa3dSecureAuthenticationMerchantDiscountRateFee:
                        feeType: Visa3DSecureAuthMdr
                        unitPrice:
                          amount: 13
                          currency: CAD
                        waivePeriod: null
                      mastercard3dSecureAuthenticationMerchantDiscountRateFee:
                        feeType: Mastercard3DSecureAuthMdr
                        unitPrice:
                          amount: 10
                          currency: CAD
                        waivePeriod: null
                  monerisGoPointOfSaleRetail:
                    feeDetails:
                      goRetailFee:
                        feeType: GoRetailFee
                        unitPrice:
                          amount: 10
                          currency: CAD
                        waivePeriod: null
                bankerInformation:
                  bankerPhoneNumber: '+19024333434'
                  bankerBranchIdentifier: '2679'
                cardPlanDetails:
                  selectedPlans:
                  - VISA
                  - MASTERCARD
                  mastercard:
                    transactionPlans:
                    - merchantDiscountRate: 0.111
                      transactionRate: 0.131
                    - merchantDiscountRate: 0.111
                      transactionRate: 0.131
                    cardBrandPlans: []
                    assessmentPlans: []
                    serviceFeeDetails:
                      maintenanceFee:
                        feeType: maintenance
                        unitPrice:
                          amount: 301
                          currency: CAD
                  mastercardDebit:
                    cardBrandPlans: []
                    assessmentPlans: []
                  visa:
                    transactionPlans:
                    - merchantDiscountRate: 0
                      transactionRate: 0
                    cardBrandPlans: []
                    assessmentPlans: []
                    serviceFeeDetails:
                      maintenanceFee:
                        feeType: maintenance
                        unitPrice:
                          amount: 301
                          currency: CAD
                  visaDebit:
                    cardBrandPlans: []
                    assessmentPlans: []
                  discover:
                    cardBrandPlans: []
                    assessmentPlans: []
                  unionPay:
                    cardBrandPlans: []
                    assessmentPlans: []
                  amex:
                    cardBrandPlans: []
                    assessmentPlans: []
                  otherFinancialInstitutionCards: []
                  programs: []
                pointOfSaleSolutionType: MONERIS_POINT_OF_SALE
                isAcceptedByConduct: false
                contractSignatureRequired: false
                faxRequired: true
                additionalInformation: ''
                businessEntityName: Intuit
                referralInformation:
                  description: Other
                  additionalInformation: NOT USED
                hostType: ESSENTIS
                autoApprovalStatus: MANUAL_ADJUDICATION
                adjudicationApprovalStatus: MANUAL
                hasImprinter: true
                isMarketSubSegmentationPreApprovalRequired: false
                optOutAmexCommunication: true
                multiCurrencyPricingPackageId: 1234
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /onboarding/merchants/{merchant-id}/orders/{merchant-order-id}:
    parameters:
    - $ref: '#/components/parameters/apiVersion'
    - $ref: '#/components/parameters/correlationId'
    - $ref: '#/components/parameters/prm-merchants_merchantId'
    - $ref: '#/components/parameters/merchantOrderId'
    get:
      summary: Retrieve order by Id
      operationId: getOrderDetailsByOrderId
      security:
      - OAuth2:
        - onboarding.order.read
      - OAuth2:
        - onboarding.order.write
      - ApiKeyAuth: []
      tags:
      - Terminal & Service Orders
      description: 'Get order details by ID

        '
      responses:
        '200':
          description: Successful response corresponding to the provided order id parameter
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              example:
                merchantOrderId: 1471632
                merchantId: 0030211900586
                userIdentifier: '001'
                representativeCode: 0A
                adjudicationRequired: true
                orderStatus: APPLICATION_SUBMITTED
                orderType: NET_NEW_MERCHANT
                orderOpenedAt: '2025-06-17T21:39:01.85+00:00'
                orderChangedAt: '2025-06-17T22:40:55.577+00:00'
                feeDetails:
                  minimumMerchantDiscountRateFee:
                    unitPrice:
                      amount: 699
                      currency: CAD
                    taxes: []
                  paperStatementFee:
                    unitPrice:
                      amount: 795
                      currency: CAD
                    taxes: []
                  pciSecurityFee:
                    unitPrice:
                      amount: 895
                      currency: CAD
                    taxes: []
                  totalAdminFee:
                    unitPrice:
                      amount: 200
                      currency: CAD
                    taxes: []
                  agedCloseBatchFee:
                    unitPrice:
                      amount: 250
                      currency: CAD
                    taxes: []
                  mastercardComplianceFee:
                    unitPrice:
                      amount: 8000
                      currency: CAD
                    taxes: []
                  dialCommunicationFee:
                    unitPrice:
                      amount: 8
                      currency: CAD
                    taxes: []
                promotionInformation:
                  promotionCode: 1MONTHOFF
                  promotionName: 1MONTHOFF
                  promotionExpirationDate: '2024-06-27T05:00:00+00:00'
                supplies:
                - supplyName: 2-PLY Sales Draft Slips (25)
                  unitPrice:
                    amount: 2
                    currency: CAD
                  quantity: 1
                - supplyName: Physical Distancing Arrow Decal
                  unitPrice:
                    amount: 6
                    currency: CAD
                  quantity: 3
                productDetails:
                  wireless:
                    feeDetails:
                      goSoftwareFee:
                        feeType: GoSoftwareFee
                        unitPrice:
                          amount: 5
                          currency: CAD
                        waivePeriod: null
                  monerisGateway:
                    feeDetails:
                      monthlyFee:
                        feeType: MonthlyFee
                        unitPrice:
                          amount: 0
                          currency: CAD
                        waivePeriod: null
                      visa3dSecureAuthenticationTransactionFee:
                        feeType: Visa3DSecureAuthTxn
                        unitPrice:
                          amount: 25
                          currency: CAD
                        waivePeriod: null
                      mastercard3dSecureAuthenticationTransactionFee:
                        feeType: Mastercard3DSecureAuthTxn
                        unitPrice:
                          amount: 11
                          currency: CAD
                        waivePeriod: null
                      visa3dSecureAuthenticationMerchantDiscountRateFee:
                        feeType: Visa3DSecureAuthMdr
                        unitPrice:
                          amount: 13
                          currency: CAD
                        waivePeriod: null
                      mastercard3dSecureAuthenticationMerchantDiscountRateFee:
                        feeType: Mastercard3DSecureAuthMdr
                        unitPrice:
                          amount: 10
                          currency: CAD
                        waivePeriod: null
                  monerisGoPointOfSaleRetail:
                    feeDetails:
                      goRetailFee:
                        feeType: GoRetailFee
                        unitPrice:
                          amount: 10
                          currency: CAD
                        waivePeriod: null
                bankerInformation:
                  bankerPhoneNumber: '+19024333434'
                  bankerBranchIdentifier: '2679'
                cardPlanDetails:
                  selectedPlans:
                  - VISA
                  - MASTERCARD
                  mastercard:
                    transactionPlans:
                    - merchantDiscountRate: 0.111
                      transactionRate: 0.131
                    - merchantDiscountRate: 0.111
                      transactionRate: 0.131
                    cardBrandPlans: []
                    assessmentPlans: []
                    serviceFeeDetails:
                      maintenanceFee:
                        feeType: maintenance
                        unitPrice:
                          amount: 301
                          currency: CAD
                  mastercardDebit:
                    cardBrandPlans: []
                    assessmentPlans: []
                  visa:
                    transactionPlans:
                    - merchantDiscountRate: 0
                      transactionRate: 0
                    cardBrandPlans: []
                    assessmentPlans: []
                    serviceFeeDetails:
                      maintenanceFee:
                        feeType: maintenance
                        unitPrice:
                          amount: 301
                          currency: CAD
                  visaDebit:
                    cardBrandPlans: []
                    assessmentPlans: []
                  discover:
                    cardBrandPlans: []
                    assessmentPlans: []
                  unionPay:
                    cardBrandPlans: []
                    assessmentPlans: []
                  amex:
                    cardBrandPlans: []
                    assessmentPlans: []
                  otherFinancialInstitutionCards: []
                  programs: []
                pointOfSaleSolutionType: MONERIS_POINT_OF_SALE
                isAcceptedByConduct: false
                contractSignatureRequired: false
                faxRequired: true
                additionalInformation: ''
                businessEntityName: Intuit
                referralInformation:
                  description: Other
                  additionalInformation: NOT USED
                hostType: ESSENTIS
                autoApprovalStatus: MANUAL_ADJUDICATION
                adjudicationApprovalStatus: MANUAL
                hasImprinter: true
                isMarketSubSegmentationPreApprovalRequired: false
                optOutAmexCommunication: true
                multiCurrencyPricingPackageId: 1234
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
    put:
      summary: Update an order by ID
      operationId: updateOrder
      security:
      - OAuth2:
        - onboarding.order.write
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateOrderRequest'
            examples:
              OrderPayload:
                $ref: '#/components/examples/UpdateStandardOrderPayload'
              OrderPayloadPartnerBank:
                $ref: '#/components/examples/UpdatePartnerBankOrderPayload'
      tags:
      - Terminal & Service Orders
      responses:
        '200':
          description: Successful response corresponding to the provided payload
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
            Sunset:
              $ref: '#/components/headers/sunset'
            X-RateLimit-Limit:
              $ref: '#/components/headers/rateLimitCount'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/rateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
              example:
                merchantOrderId: 1471632
                merchantId: 0030211900586
                userIdentifier: '001'
                representativeCode: 0A
                adjudicationRequired: true
                orderStatus: APPLICATION_SUBMITTED
                orderType: NET_NEW_MERCHANT
                orderOpenedAt: '2025-06-17T21:39:01.85+00:00'
                orderChangedAt: '2025-06-17T22:40:55.577+00:00'
                feeDetails:
                  minimumMerchantDiscountRateFee:
                    unitPrice:
                      amount: 699
                      currency: CAD
                    taxes: []
                  paperStatementFee:
                    unitPrice:
                      amount: 795
                      currency: CAD
                    taxes: []
                  pciSecurityFee:
                    unitPrice:
                      amount: 895
                      currency: CAD
                    taxes: []
                  totalAdminFee:
                    unitPrice:
                      amount: 200
                      currency: CAD
                    taxes: []
                  agedCloseBatchFee:
                    unitPrice:
                      amount: 250
                      currency: CAD
                    taxes: []
                  mastercardComplianceFee:
                    unitPrice:
                      amount: 8000
                      currency: CAD
                    taxes: []
                  dialCommunicationFee:
                    unitPrice:
                      amount: 8
                      currency: CAD
                    taxes: []
                promotionInformation:
                  promotionCode: 1MONTHOFF
                  promotionName: 1MONTHOFF
                  promotionExpirationDate: '2024-06-27T05:00:00+00:00'
                supplies:
                - supplyName: 2-PLY Sales Draft Slips (25)
                  unitPrice:
                    amount: 2
                    currency: CAD
                  quantity: 1
                - supplyName: Physical Distancing Arrow Decal
                  unitPrice:
                    amount: 6
                    currency: CAD
                  quantity: 3
                productDetails:
                  wireless:
                    feeDetails:
                      goSoftwareFee:
                        feeType: GoSoftwareFee
                        unitPrice:
                          amount: 5
                          currency: CAD
                        waivePeriod: null
                  monerisGateway:
                    feeDetails:
                      monthlyFee:
                        feeType: MonthlyFee
                        unitPrice:
                          amount: 0
                          currency: CAD
                        waivePeriod: null
                      visa3dSecureAuthenticationTransactionFee:
                        feeType: Visa3DSecureAuthTxn
                        unitPrice:
                          amount: 25
                          currency: CAD
                        waivePeriod: null
                      mastercard3dSecureAuthenticationTransactionFee:
                        feeType: Mastercard3DSecureAuthTxn
                        unitPrice:
                          amount: 11
                          currency: CAD
                        waivePeriod: null
                      visa3dSecureAuthenticationMerchantDiscountRateFee:
                        feeType: Visa3DSecureAuthMdr
                        unitPrice:
                          amount: 13
                          currency: CAD
                        waivePeriod: null
                      mastercard3dSecureAuthenticationMerchantDiscountRateFee:
                        feeType: Mastercard3DSecureAuthMdr
                        unitPrice:
                          amount: 10
                          currency: CAD
                        waivePeriod: null
                  monerisGoPointOfSaleRetail:
                    feeDetails:
                      goRetailFee:
                        feeType: GoRetailFee
                        unitPrice:
                          amount: 10
                          currency: CAD
                        waivePeriod: null
                bankerInformation:
                  bankerPhoneNumber: '+19024333434'
                  bankerBranchIdentifier: '2679'
                cardPlanDetails:
                  selectedPlans:
                  - VISA
                  - MASTERCARD
                  mastercard:
                    transactionPlans:
                    - merchantDiscountRate: 0.111
                      transactionRate: 0.131
                    - merchantDiscountRate: 0.111
                      transactionRate: 0.131
                    cardBrandPlans: []
                    assessmentPlans: []
                    serviceFeeDetails:
                      maintenanceFee:
                        feeType: maintenance
                        unitPrice:
                          amount: 301
                          currency: CAD
                  mastercardDebit:
                    cardBrandPlans: []
                    assessmentPlans: []
                  visa:
                    transactionPlans:
                    - merchantDiscountRate: 0
                      transactionRate: 0
                    cardBrandPlans: []
                    assessmentPlans: []
                    serviceFeeDetails:
                      maintenanceFee:
                        feeType: maintenance
                        unitPrice:
                          amount: 301
                          currency: CAD
                  visaDebit:
                    cardBrandPlans: []
                    assessmentPlans: []
                  discover:
                    cardBrandPlans: []
                    assessmentPlans: []
                  unionPay:
                    cardBrandPlans: []
                    assessmentPlans: []
                  amex:
                    cardBrandPlans: []
                    assessmentPlans: []
                  otherFinancialInstitutionCards: []
                  programs: []
                pointOfSaleSolutionType: MONERIS_POINT_OF_SALE
                isAcceptedByConduct: false
                contractSignatureRequired: false
                faxRequired: true
                additionalInformation: ''
                businessEntityName: Intuit
                referralInformation:
                  description: Other
                  additionalInformation: NOT USED
                hostType: ESSENTIS
                autoApprovalStatus: MANUAL_ADJUDICATION
                adjudicationApprovalStatus: MANUAL
                hasImprinter: true
                isMarketSubSegmentationPreApprovalRequired: false
                optOutAmexCommunication: true
                multiCurrencyPricingPackageId: 1234
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '422':
          $ref: '#/components/responses/unprocessableContent'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
components:
  schemas:
    monerisGoPortalFeeDetails:
      type:
      - object
      - 'null'
      description: A list of fees associated with Moneris Go Portal.
      properties:
        setupFee:
          description: A one-time fee charged for the initial configuration and onboarding of the product.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        accessFee:
          description: A fee charged for gaining access to the service.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
    isExpeditedOrder:
      type: boolean
      description: A boolean flag indicating whether an order is being processed as a rush or expedited order.
    depositType:
      type:
      - string
      - 'null'
      description: Indicates the type of deposit arrangement for the merchant account.
      maxLength: 10
    companyName:
      type:
      - string
      - 'null'
      description: Identifies the associated company name
      minLength: 1
      maxLength: 50
      example: SP Ltd
    otherFinancialInstitutionCards:
      type: array
      description: A list of other financial institution cards.
      items:
        $ref: '#/components/schemas/ofiCardPlan'
      maxItems: 20
    monerisGatewayFeeDetails:
      type:
      - object
      - 'null'
      description: A list of fees associated to Moneris Gateway.
      properties:
        baseFee:
          description: The standard fee charged for a product.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        recurringFee:
          description: A fee that is charged on a regular basis.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        batchProcessingFee:
          description: Indicates whether fees apply to batch processing services.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        cardPresentDebitFee:
          description: Represents the fee applied to debit card transactions.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        levelTwoThreeFee:
          description: A fee associated with level 2 or level 3 processing.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        setupFee:
          description: A one-time fee charged for the initial configuration and onboarding of the product.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        vaultFee:
          description: A fee charged for using a secure card vault service.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        riskToolFee:
          description: A fee associated with the use of fraud prevention and risk managements tools.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        addressVerificationServiceFee:
          description: A fee charged for using the address verification service.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        verifiedByVisaFee:
          description: A fee associated with verified by visa.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        vaultOneTimeFee:
          description: A one-time fee charged for the initial setup or activation or a card vault service.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        vaultPerTransactionFee:
          description: A fee charged for each transaction that utilizes the stored payment credentials.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        vaultPerClickPerTransactionFee:
          description: A fee charged for each transaction processed using a tokenized payment method from the vault, initiated by a single click or action.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        interacRegistrationFee:
          description: A fee associated with registering a merchant or account for Interac services.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        interacFlatFee:
          description: A flat fee applied to each transaction processed through the Interac network.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        interacRateFee:
          description: A percentage-based fee applied to transactions processed through the Interac network.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        transactionFee:
          description: A fee applied per individual transaction processed.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        monthlyFee:
          description: A recurring fee charged on a monthly basis for continued access.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        boostMonthlyFee:
          description: An additional recurring fee charged on a monthly basis for enhanced services or features.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        netSuiteMonthlyFee:
          description: A recurring montly fee for the integration or use of the NetSuite platform.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        tokenSharingSetupFee:
          description: A one-time fee charged for setting up token sharing services.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        eCommerceAssessmentTransactionFee:
          description: A fee applied to transaction assessed for e-commerce risk.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        eCommerceCardBrandTransactionFee:
          description: A fee applied to e-commerce transactions based on the card brand.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        eCommerceMerchantDiscountRateFee:
          description: The Merchant Discount Rate for e-commerce transactions.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        eCommerceTransactionFee:
          description: A fee applied to each e-commerce transaction processed.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        kountFee:
          description: A fee associated with the use of Kount tool.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        kountOneTimeFee:
          description: A one-time fee charged for the initial setup or activation of Kount.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        kountPerTransactionFee:
          description: A fee applied to each transaction processed using Kount.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        visa3dSecureAuthenticationTransactionFee:
          description: A fee applied to transaction processed using Visa's 3D secure authentication protocol.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        amex3dSecureAuthenticationTransactionFee:
          description: A fee applied to transaction processed using Amex's 3D secure authentication protocol.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        mastercard3dSecureAuthenticationTransactionFee:
          description: A fee applied to transaction processed using Mastercard's 3D secure authentication protocol.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        visa3dSecureAuthenticationMerchantDiscountRateFee:
          description: The Merchant Discount Rate applied to transactions processed through Visa's 3D secure authentication protocol.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        amex3dSecureAuthenticationMerchantDiscountRateFee:
          description: The Merchant Discount Rate applied to transactions processed through Amex's 3D secure authentication protocol.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
        mastercard3dSecureAuthenticationMerchantDiscountRateFee:
          description: The Merchant Discount Rate applied to transactions processed through Mastercard's 3D secure authentication protocol.
          type:
          - object
          - 'null'
          properties:
            feeType:
              $ref: '#/components/schemas/feeType'
            unitPrice:
              $ref: '#/components/schemas/money'
            taxes:
              type: array
              description: A list of tax items associated with the fee.
              items:
                $ref: '#/components/schemas/tax'
              maxItems: 10
            frequency:
              description: The frequency at which the fee is charged, such as monthly or annually.
              type:
              - string
              - 'null'
              maxLength: 20
              enum:
              - DAILY
              - MONTHLY
              - QUARTERLY
              - ONE_OFF
              - ANNUALLY
            quantity:
              type: integer
              description: Represent the number of times a fee is applied based on its frequency.
              format: int32
              minimum: 1
              maximum: 30
              example: 3
            isApproved:
              $ref: '#/components/schemas/isApproved'
            waivePeriod:
              $ref: '#/components/schemas/waivePeriod'
          required:
          - unitPrice
    foreignCardOriginCode:
      type:
      - string
      - 'null'
      description: A code used to identify the origin of a foreign card in a transaction under the card brand plan.
      maxLength: 10
    merchantDiscountRate:
      type: number
      description: The merchant discount rate applied to transactions under transaction plan.
      format: double
      default: 0
      minimum: 0
      maximum: 1
    cardNotPresentConfigurationCode:
      type:
      - string
      - 'null'
      description: A configuration code used to identify variable settings for transactions.
      maxLength: 50
    isApproved:
      type: boolean
      description: A boolean flag to indicate whether the fee has been approved for inclusion in the transaction.
      example: true
    software:
      type:
      - string
      - 'null'
      description: Indicates the software version or platform running on the terminal device.
      maxLength: 255
    representativeCode:
      type:
      - string
      - 'null'
      description: A code that identifies the representative agent associated with the order.
      maxLength: 10
      example: A0
    updateOrderRequest:
      description: Represents the payload for updating an order.
      oneOf:
      - $ref: '#/components/schemas/updateStandardOrderRequest'
      - $ref: '#/components/schemas/updatePartnerBankOrderRequest'
    confirmation:
      type:
      - object
      - 'null'
      description: An object containing the confirmation details.
      properties:
        hasManualImprinter:
          type: boolean
          description: A boolean flag indicating whether the order requires a manual imprinter.
        hasConsentedToCollectPersonalInformation:
          type: boolean
          description: A boolean flag indicating whether the user has consented to the use of their personal information.
        isSignatureRequired:
          type: boolean
          description: A boolean flag indicating whether a signature is required for the order.
          default: true
        additionalNote:
          type:
          - string
          - 'null'
          description: Additional note or comments related to the order.
          maxLength: 500
    partnerName:
      type:
      - string
      - 'null'
      description: The name of the partner that referred the lead to the business.
      maxLength: 30
    merchantNumber:
      type:
      - string
      - 'null'
      description: Identifies the merchant within he acquirer's system.
      maxLength: 10
    transactionFeeParameterCode:
      type:
      - string
      - 'null'
      description: The code that identifies the parameters associated with transaction fees for a specific card plan.
      maxLength: 20
      enum:
      - ATIP
      - INDI
      - KATZ
      - INTP
      - MCR3
      - PLQ2
      - SHOP
      - CF02
      - INGB
      - Q200
      - PLQ1
      - VISA
      - GNDS
      - TXLP
      - FLAT
      - INDG
      - CFIB
      - SER4
      - SER3
      - TIRR
      - TR00
      - DIEN
      - AMZN
      - CF01
      - TR02
      - MCR1
      - ID58
      - INDN
      - SDMI
      - SEAR
      - CRAV
      - CITI
      - CDMV
      - CTP2
      - SIMS
      - DOLA
      - PAYM
      - ROGE
      - CTP1
      - GOVC
      - PREC
      - CITB
      - ID53
      - SIMP
      - COST
      - TTMK
      - SER1
    updateStandardOrderRequest:
      type: object
      description: Represents the payload for updating an order.
      properties:
        marketSegment:
          $ref: '#/components/schemas/marketSegment'
        representativeCode:
          $ref: '#/components/schemas/representativeCode'
        userDetails:
          $ref: '#/components/schemas/userDetails'
        applicablePromotions:
          $ref: '#/components/schemas/applicablePromotions'
        feeDetails:
          $ref: '#/components/schemas/feeDetails'
        applicationDetails:
          $ref: '#/components/schemas/applicationDetails'
        agreementModelInformation:
          $ref: '#/components/schemas/agreementModelInformation'
        valueAddedServices:
          $ref: '#/components/schemas/valueAddedServices'
        documentsStatus:
          $ref: '#/components/schemas/documentsStatus'
        confirmation:
          $ref: '#/components/schemas/confirmation'
        supplies:
          $ref: '#/components/schemas/supplies'
        productDetails:
          $ref: '#/components/schemas/productDetails'
        isAutoAdjudicationRequired:
          $ref: '#/components/schemas/isAutoAdjudicationRequired'
        isExpeditedOrder:
          $ref: '#/components/schemas/isExpeditedOrder'
        cardPlanDetails:
          type:
          - object
          - 'null'
          description: An object containing all the card plans details.
          properties:
            merchantDiscountRateType:
              $ref: '#/components/schemas/merchantDiscountRateType'
            currency:
              type:
              - string
              - 'null'
              description: "Provides the three letter currency code according the ISO 4217 standard. \n\nFor a complete list of currency codes, visit: https://en.wikipedia.org/wiki/ISO_4217\n"
              minLength: 3
              maxLength: 4
              example: CAD
              format: iso-4217
            transactionFeeParameterCode:
              $ref: '#/components/schemas/transactionFeeParameterCode'
            cardBrandTemplateIdentifier:
              $ref: '#/components/schemas/cardBrandTemplateIdentifier'
            selectedPlans:
              $ref: '#/components/schemas/selectedPlans'
            mastercard:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            mastercardDebit:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            visa:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            visaDebit:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            discover:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            unionPay:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            interac:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            amex:
              type:
              - object
              - 'null'
              description: An object containing the franchise plan details.
              properties:
                isCommunicationsOptOut:
                  $ref: '#/components/schemas/isCommunicationsOptOut'
                cardFeeDetails:
                  $ref: '#/components/schemas/cardFeeDetails'
                transactionPlans:
                  $ref: '#/components/schemas/transactionPlans'
                cardBrandPlans:
                  $ref: '#/components/schemas/cardBrandPlans'
                assessmentPlans:
                  $ref: '#/components/schemas/assessmentPlans'
                serviceFeeDetails:
                  $ref: '#/components/schemas/serviceFeeDetails'
            otherFinancialInstitutionCards:
              $ref: '#/components/schemas/otherFinancialInstitutionCards'
            programs:
              $ref: '#/components/schemas/programs'
        solutions:
          $ref: '#/components/schemas/solutions'
        deliveryAddress:
          type:
          - object
          - 'null'
          description: An object containing the delivery address details.
          allOf:
          - $ref: '#/components/schemas/address'
          - $ref: '#/components/schemas/addressee'
        orderCreatedBy:
          $ref: '#/components/schemas/orderCreatedBy'
      required:
      - userDetails
      - productDetails
    ueat:
      type:
      - object
      - 'null'
      description: An object containing details about the Ueat product.
      properties:
        plannedGoLiveDate:
          type:
          - string
          - 'null'
          description: The planned go-live date for the Ueat product.
          format: date
          example: '2010-02-21'
        numberOfMenuItems:
          type: integer
          description: The number of menu items available in the Ueat product.
          format: int32
          minimum: 1
          maximum: 10000
        isMemberOfArq:
          type: boolean
          description: A boolean flag indicating whether the Ueat product is a member of the ARQ program.
        averageAmountSpent:
          type:
          - object
          - 'null'
          description: "Monetary amount. \nNote: The value must be in cents. Therefore $10.59 must be sent as 1059.\n"
          properties:
            amount:
              $ref: '#/components/schemas/amount'
            currency:
              $ref: '#/components/schemas/currency'
          required:
          - amount
          - currency
          example:
            amount: 16000
            currency: CAD
        pointOfSaleSystemName:
          type:
          - string
          - 'null'
          description: The name of the point of sale system used with the Ueat product.
          maxLength: 100
        feeDetails:
          type:
          - object
          - 'null'
          description: An object representing the fees associated with the Ueat product.
          properties:
            implementationFee:
              type:
              - object
              - 'null'
              description: Represents a monetary charge applied to a transaction or service.
              properties:
                feeType:
                  $ref: '#/components/schemas/feeType'
                unitPrice:
                  $ref: '#/components/schemas/money'
                taxes:
                  type: array
                  description: A list of tax items associated with the fee.
                  items:
                    $ref: '#/components/schemas/tax'
                  maxItems: 10
                frequency:
                  description: The frequency at which the fee is charged, such as monthly or annually.
                  type:
                  - string
                  - 'null'
                  maxLength: 20
                  enum:
                  - DAILY
                  - MONTHLY
                  - QUARTERLY
                  - ONE_OFF
                  - ANNUALLY
                quantity:
                  type: integer
                  description: Represent the number of times a fee is applied based on its frequency.
                  format: int32
                  minimum: 1
                  maximum: 30
                  example: 3
                isApproved:
                  $ref: '#/components/schemas/isApproved'
                waivePeriod:
                  $ref: '#/components/schemas/waivePeriod'
              required:
              - unitPrice
            additionalBoutiqueFee:
              type:
              - object
              - 'null'
              description: Represents a monetary charge applied to a transaction or service.
              properties:
                feeType:
                  $ref: '#/components/schemas/feeType'
                unitPrice:
                  $ref: '#/components/schemas/money'
                taxes:
                  type: array
                  description: A list of tax items associated with the fee.
                  items:
                    $ref: '#/components/schemas/tax'
                  maxItems: 10
                frequency:
                  description: The frequency at which the fee is charged, such as monthly or annually.
                  type:
                  - string
                  - 'null'
                  maxLength: 20
                  enum:
                  - DAILY
                  - MONTHLY
                  - QUARTERLY
                  - ONE_OFF
                  - ANNUALLY
                quantity:
                  type: integer
                  description: Represent the number of times a fee is applied based on its frequency.
                  format: int32
                  minimum: 1
                  maximum: 30
                  example: 3
                isApproved:
                  $ref: '#/components/schemas/isApproved'
                waivePeriod:
                  $ref: '#/components/schemas/waivePeriod'
              required:
              - unitPrice
            additionalBoutiqueOneTimeFee:
              type:
              - object
              - 'null'
              description: Represents a monetary charge applied to a transaction or service.
              properties:
                feeType:
                  $ref: '#/components/schemas/feeType'
                unitPrice:
                  $ref: '#/components/schemas/money'
                taxes:
                  type: array
                  description: A list of tax items associated with the fee.
                  items:
                    $ref: '#/components/schemas/tax'
                  maxItems: 10
                frequency:
                  description: The frequency at which the fee is charged, such as monthly or annually.
                  type:
                  - string
                  - 'null'
                  maxLength: 20
                  enum:
                  - DAILY
                  - MONTHLY
                  - QUARTERLY
                  - ONE_OFF
                  - ANNUALLY
                quantity:
                  type: integer
                  description: Represent the number of times a fee is applied based on its frequency.
                  format: int32
                  minimum: 1
                  maximum: 30
                  example: 3
                isApproved:
                  $ref: '#/components/schemas/isApproved'
                waivePeriod:
                  $ref: '#/components/schemas/waivePeriod'
              required:
              - unitPrice
            mobileAppFee:
              type:
              - object
              - 'null'
              description: Represents a monetary charge applied to a transaction or service.
              properties:
                feeType:
                  $ref: '#/components/schemas/feeType'
                unitPrice:
                  $ref: '#/components/schemas/money'
                taxes:
                  type: array
                  description: A list of tax items associated with the fee.
                  items:
                    $ref: '#/components/schemas/tax'
                  maxItems: 10
                frequency:
                  description: The frequency at which the fee is charged, such as monthly or annually.
                  type:
                  - string
                  - 'null'
                  maxLength: 20
                  enum:
                  - DAILY
                  - MONTHLY
                  - QUARTERLY
                  - ONE_OFF
                  - ANNUALLY
                quantity:
                  type: integer
                  description: Represent the number of times a fee is applied based on its frequency.
                  format: int32
                  minimum: 1
                  maximum: 30
                  example: 3
                isApproved:
                  $ref: '#/components/schemas/isApproved'
                waivePeriod:
                  $ref: '#/components/schemas/waivePeriod'
              required:
              - unitPrice
            mobileAppOneTimeFee:
              type:
              - object
              - 'null'
              description: Represents a monetary charge applied to a transaction or service.
              properties:
                feeType:
                  $ref: '#/components/schemas/feeType'
                unitPrice:
                  $ref: '#/components/schemas/money'
                taxes:
                  type: array
                  description: A list of tax items associated with the fee.
                  items:
                    $ref: '#/components/schemas/tax'
                  maxItems: 10
                frequency:
                  description: The frequency at which the fee is charged, such as monthly or annually.
                  type:
                  - string
                  - 'null'
                  maxLength: 20
                  enum:
                  - DAILY
                  - MONTHLY
                  - QUARTERLY
                  - ONE_OFF
                  - ANNUALLY
                quantity:
                  type: integer
                  description: Represent the number of times a fee is applied based on its frequency.
                  format: int32
                  minimum: 1
                  maximum: 30
                  example: 3
                isApproved:
                  $ref: '#/components/schemas/isApproved'
                waivePeriod:
[...]
